{block content}

<!-- page header -->
<div class="pageheader" name="co-robime">
    <h2><i class="fa fa-info-circle" style="line-height: 48px; padding-left: 0;"></i> Akadémia</h2>
</div>
<!-- /page header -->

<!-- content main container -->
<div class="main justify about-us">
    <div class="row">
        <div class="col-md-12">
            <section class="tile color transparent-black rounded-corners">
                <div class="tile-header color ">
                    <!--<h1>Čomu sa venujeme</h1>-->
                </div>
                <div class="tile-body tab-content">

                    <div class="tab-pane fade in active">
                        <p>
                            No Will No Skill Academy je prvá akadémia pohybu na Slovensku, ktorá bola založená v roku 2013 a otvorená pre verejnosť od začiatku roku 2014. Vznikla na základe myšlienky, že človek je stvorený na všestranný pohyb, ktorý ale väčšine ľudí v dnešnej dobe chýba. Počas svojej relatívne krátkej existencie si prešla rozsiahlym vývojom a dnes je z nej jedna z najunikátnejších telocviční vôbec.

<br /><br />V našej Akadémií si príde na svoje každý - či už si úplný pohybový analfabet, ktorý potrebuje získať základy koordinácie, kancelárska krysa, čo chce rozhýbať svoje stuhnuté a deformované telo, silák, ktorý sa chce hýbať elegantnejšie, alebo rozšíriť svoje obzory v oblasti práce s vlastným telom, alebo jednoducho fanúšik pohybu, ktorý chce posunúť svoje pohybové schopnosti na ďalší level. Nezáleží na tvojej úrovni, či skúsenostiach s pohybom. Potrebuješ iba štyri funkčné končatiny a odhodlanie rozhýbať sa.

<br /><br />Pohybová výučba v našej Akadémii prebieha formou uzavretých a otvorených kurzov, voľných tréningov a workshopov. Ak chceš vedieť viac o našej forme výučby, môžeš sa o nej dočítať na stránke <a n:href=":Front:Homepage:vyucba">Výučba</a>.
                        </p>
                    </div>

                </div>
            </section>
        </div>
        
        {*<div class="col-md-12" name="koncept">
            <section class="tile color transparent-black rounded-corners clearfix">
                <div class="tile-header color ">
                    <h1>Tréningy</h1>
                </div>
                <div class="tile-body tab-content color ">

                    <div class="tab-pane fade in active">
                        <p>
                            Naše skupinové tréningy sú všetky vedené s ohľadom na filozofiu všestranného pohybu. V praxi to znamená, že obsahujú minimum špecializácie a všetky zlepšia tvoje pohybové schopnosti ako také. Každý z nich obsahuje rozcvičku zameranú na zlepšenie mobility celého tela a každý z nich ti pomôže zlepšiť koordináciu tvojich končatín v priestore. Často na nich používame rôzne jednoduché nástroje, lokomócie (prechod z bodu A do bodu B), či hry vo dvojici. <br /><br />

                            Tréningy normálne trvajú hodinu a sú obmedzené na 15 ľudí, aby sme zachovali ich vysokú kvalitu za rozumnú cenu. Preto je možné, že pokiaľ sa na tréning neprihlásiš, už nebudeš mať miesto. Rezervácia na tréning prebieha pomocou rezervačného systému. V prípade tvojej prvej návštevy sa musíš najprv zaregistrovať. Po registrácií automaticky dostaneš 10 Skillierov za ktoré máš možnosť vyskúšať si jeden tréning zadarmo. <br /><br />

                            V ponuke máme nasledovné tréningy:
<div class="col-md-6"><h3>Basics</h3>
<img src="{$basePath}/images/treningy/basics.JPG" class="training-image" alt="Basics" title="Basics" />
Ak zvažuješ svoju prvú návštevu Akadémie a nemáš veľa skúseností v pohybom, odporúčame ti navštíviť práve Basics. Jeho hlavným zámerom je vybudovať základy pre tvoj ďalší pohybový rozvoj (napríklad na ostatných tréningoch). Ak potrebuješ popracovať na svojej mobilite, základnej koordinácií, či vnímaní svojho tela, Basics je ten správny tréning pre teba.
</div>

<div class="col-md-6">
<h3>Movement</h3>
<img src="{$basePath}/images/treningy/movement.JPG" class="training-image" alt="Movement" title="Movement" />
Movement je už o niečo ťažší, čo sa týka nárokov na koordináciu, silu a mobilitu. Jeho zámerom je naučiť ťa nové pohyby a tým rozvíjať neuroplasticitu tvojho mozgu. Obsahuje menej drillov a viac plynulých pohybov a hier ako Basics. Ak už máš základy zvládnuté a hľadáš inšpiráciu do tvojho pohybového sveta, Movement je pre teba ako stvorený.
</div>
<div class="clearfix visible-md visible-lg"></div>

<div class="col-md-6">
<h3>Calisthenics</h3>
<img src="{$basePath}/images/treningy/calisthenics.JPG" class="training-image" alt="Calisthenics" title="Calisthenics" />
Kalistenika je silový tréning s vlastným telom a jednoduchými nástrojmi ako napríklad gymnastické kruhy. Pracujeme na ňom takmer výlučne bez závaží. Zámer tohto tréningu je zlepšiť tvoju relatívnu silu, ktorú využiješ aj v reálnom živote mimo telocvične.  Ak chceš budovať silu a získať kontrolu nad svojim telom aj v náročných polohách, Calisthenics je tréning pre teba.
</div>

<div class="col-md-6">
<h3>Beast Mode</h3>
<img src="{$basePath}/images/treningy/beastmode.JPG" class="training-image" alt="Beast Mode" title="Beast Mode" />
Sila, výbušnosť, dynamika. To sú kľúčové slová tréningu Beast Mode, ktorý je ako stvorený pre nakopnutie tvojho testosterónu na maximum. Okrem silového tréningu s vlastným telom sa priprav na intenzívnu záťaž v podobe intervalového tréningu, zápasenia z kolien, či pretláčania na rôzne spôsoby. Ak si chceš poriadne zamakať, príď na Beast Mode a prebuď v sebe spiacu beštiu.
</div>

                        </p>
                    </div>

                </div>
            </section>
        </div>*}
    </div>

    <div class="row auto-clear" name="nas-tim">
        <div class="col-lg-3 col-md-3 col-sm-6" name="marian-cerny">
            <section class="tile color transparent-black rounded-corners clearfix">
                <div class="tile-header color ">
                    <h1><strong>Marián</strong> Černý</h1>
                </div>
                <div class="tile-body tab-content color ">

                    <div class="tab-pane fade in active">
                        <img src="{$basePath}/images/treneri/mariano-min.png" alt="Marián Černý" title="Marián Černý" />
                        <p>
                            Pôvodca hnutia No Will No Skill a spoluzakladateľ Akadémie, tiež známy ako Moderný Pračlovek. Je doslova závislý na pohybe a neustálom zlepšovaní samého seba v najrôznejších oblastiach života každý jeden deň. <br /><br />

Hoci pohyb a cvičenie s vlastným telom je jeho veľká láska, venuje sa aj rôznym "cirkusantským" disciplínam. Okrem rôznych druhov žonglovacieho náradia koketuje aj s olympijskou tyčou, ktorá je nenahraditeľnou súčasťou jeho tréningu. <br /><br />

Do svojich skupinových tréningov komponuje vedomosti z vlastného pohybového výskumu, okorené rôznymi tanečnými, bojovými, či akrobatickými prvkami. Pravidelne si chodí po inšpiráciu ku svetoznámim učiteľom pohybu, z ktorých niekoľkých už pozval aj do Akadémie. Okrem pohybu sa venuje aj rečníctvu, jazykom, písaniu, či marketingu a napĺňa ho, keď môže svoje skúsenosti a vedomosti odovzdávať ďalej formou blogov, rečí, publikácií a workshopov.
                        </p>
                        <br />
                        <i class="fa fa-paper-plane"></i>&nbsp;&nbsp;<a href="mailto:marian.cerny@nowillnoskill.academy">marian.cerny@nowillnoskill.academy</a>
                    </div>
                </div>
            </section>
        </div>
		<div class="col-lg-3 col-md-3 col-sm-6" name="michal-vydareny">
            <section class="tile color transparent-black rounded-corners clearfix">
                <div class="tile-header color ">
                    <h1><strong>Michal</strong> Vydarený</h1>
                </div>
                <div class="tile-body tab-content color ">

                    <div class="tab-pane fade in active">
                        <img src="{$basePath}/images/treneri/miso_v-min.png" alt="Michal Vydarený" title="Michal Vydarený" />
                        <p>
                            Od mladosti až po súčasnosť vyskúšal veľa disciplín a športových odvetví. Atletika, futbal, badminton, skateboard... Aktuálne má záľubu v gymnastike a BJJ. Všetky zozbierané vedomosti a skúsenosti sa snaží aplikovať do svojich tréningov. Mišo chce byť pohybovo všestranný, preto do jeho repertoáru neustále pribúdajú nové športy, disciplíny a rôzne pohybové aktivity. 

<br /><br />Niekoľko rokov ho živila práca grafického dizajnéra a pohyb bol iba záľubou. Čím viac sedel za počítačom, tým viac si uvedomoval dôležitosť pohybu. Začal ho teda viac študovať a okrem praktických skúseností zbierať aj tie teoretické. Netrvalo dlho a ľudia z jeho okolia začali k nemu chodiť po rady. Časom si uvedomil že ho napĺňa ak vie niekomu pomôcť a správne poradiť. Týmto momentom práca grafického dizajnéra upadla do zabudnutia a jeho život sa točí hlavne okolo pohybu.
                        </p>
                        <br />
                        <i class="fa fa-paper-plane"></i>&nbsp;&nbsp;<a href="mailto:michal.vydareny@nowillnoskill.academy">michal.vydareny@nowillnoskill.academy</a>
                    </div>
                </div>
            </section>
        </div>
		<div class="col-lg-3 col-md-3 col-sm-6" name="martin-virba">
            <section class="tile color transparent-black rounded-corners clearfix">
                <div class="tile-header color ">
                    <h1><strong>Martin</strong> Virba</h1>
                </div>
                <div class="tile-body tab-content color ">

                    <div class="tab-pane fade in active">
                        <img src="{$basePath}/images/treneri/mato-min.png" alt="Martin Virba" title="Martin Virba" />
                        <p>
							Na základnej škole sa začal venovať futbalu,ktorý hrával asi osem rokov. Neskôr zistil, že futbal ho nenapĺňa a prináša mu akurát škodu na zdraví v podobe boľavých kolien a chrbtice. Rozhodol s futbalom skončiť a začal sa aktívne venovať plávaniu a posilňovaniu.

<br /><br />Neskôr objavil Street Workout ktorý mu zmenil život a ktorému sa venuje dodnes. Okrem streetworkoutu a posilňovania s vlastným telom sa aktívne vzdeláva v oblasti výživy, silového tréningu a gymnastiky. Najradšej sa venuje silovému a intenzívnemu (HIIT) tréningu.

<br /><br />Okrem pohybu sa rád venuje cestovaniu a spoznávaniu sveta. Momentálne študuje chémiu a biochémiu v Bratislave, ktorú kombinuje so samoštúdiom fyzioterapie a anatómie.
                        </p>
                        <br />
                        <i class="fa fa-paper-plane"></i>&nbsp;&nbsp;<a href="mailto:martin.virba@nowillnoskill.academy">martin.virba@nowillnoskill.academy</a>
                    </div>
                </div>
            </section>
        </div>
		<div class="col-lg-3 col-md-3 col-sm-6" name="pato-horvath">
            <section class="tile color transparent-black rounded-corners">
                <div class="tile-header color ">
                    <h1><strong>Patrik</strong> Horváth</h1>
                </div>
                <div class="tile-body tab-content color ">

                    <div class="tab-pane fade in active">
                        <img src="{$basePath}/images/treneri/pato-min.png" alt="Patrik Horváth" title="Patrik Horváth" />
                        <p>
                        Od detstva hravý, pohybovo pomerne aktívny. Detské roky sa venoval základom karate, no neskôr to zabalil a jeho život ovládlo hudobné umenie. Na prelome dospelosti prišiel zvrat, a jeho vášňou sa naplno stala fyzická kultúra. Postupne si rozširoval obzory najmä v silových športoch od klasického posilňovania, kalisteniky a pretláčania rukou. Verí, že Sila tela a správne fungovanie našej fyzickej schránky je úplná nutnosť pre každého, pretože je v priamej úmere so životnou úrovňou a výrazne vplýva na charakter a psychiku každého jedinca.<br /><br />

                        Po dvoch rokoch objavil svet parkouru a nechal sa ním naplno uniesť. Akrobacia, pohyb tela v priestore, to všetko ho nesmierne fascinuje. Movement momentálne vypĺňa jeho život a venuje sa najmä parkouru a posilňovaniu s vlastnou hmotnosťou a externým náčiním, no veľa metód čerpá a aplikuje aj z atletiky, gymnastiky, plávania, potápania, jógy, bojových umení a vlastne každej oblasti pohybového sveta, ktorá ho baví alebo mu prináša osoh. Jeho hlavnou životnou filozofiou je žiť život naplno, šťastne a kvalitne, a pomôcť ľudom naokolo, aby ho žili tiež.
                        </p>
                        <br />
                        <i class="fa fa-paper-plane"></i>&nbsp;&nbsp;<a href="mailto:patrik.horvath@nowillnoskill.academy">patrik.horvath@nowillnoskill.academy</a>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6" name="jakub-misak">
            <section class="tile color transparent-black rounded-corners">
                <div class="tile-header color ">
                    <h1><strong>Jakub</strong> Mišák</h1>
                </div>
                <div class="tile-body tab-content color ">

                    <div class="tab-pane fade in active">
                        <img src="{$basePath}/images/treneri/jakub-min.png" alt="Jakub Mišák" title="Jakub Mišák" />
                        <p>
                        Má skúsenosť s juniorským basketbalom, tenisom, plážovým volejbalom, silovo-vytrvalostnou prípravou na prekážkové bežecké preteky ako aj so sedavým zamestnaním. Aj keď je mu súťaživosť a radosť zo športu stále veľmi blízka, uvedomuje si riziká predčasnej a príliš intenzívnej špecializácie. Kladie dôraz na budovanie komplexných pohybových základov, pochopenie a odstraňovanie príčin zdravotných problémov spôsobených nesprávnym zaťažením a moderným spôsobom života.<br /><br />

Vzdeláva sa u odborníkov s dlhodobou praxou v oblasti športu a fyzioterapie. Vedomosti rád čerpá aj od ľudí so skúsenosťami z oblasti gymnastiky, bojových umení, tradičnej čínskej medicíny alebo jogy, ako aj z metód inšpirovaných holistickým učením Idy Rolf a Mosheho Feldenkraisa. Nemá rád povrchnosť a nesamostatnosť.<br /><br />

Keďže existuje priama súvislosť medzi tým, ako myslíme, ako sa hýbeme a ako žijeme, v pohybe ako aj v každodennom živote považuje za dôležitú pozornosť, trpezlivosť a hravosť, ako aj schopnosť adaptácie na meniace sa podmienky.
                        </p>
                        <br />
                        <i class="fa fa-paper-plane"></i>&nbsp;&nbsp;<a href="mailto:jakub.misak@nowillnoskill.academy">jakub.misak@nowillnoskill.academy</a>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6" name="domka-zennikova">
            <section class="tile color transparent-black rounded-corners">
                <div class="tile-header color ">
                    <h1><strong>Dominika</strong> Zenníková</h1>
                </div>
                <div class="tile-body tab-content color ">

                    <div class="tab-pane fade in active">
                        <img src="{$basePath}/images/treneri/domka-min.png" alt="Dominika Zenníkova" title="Dominika Zenníkova" />
                        <p>
                        Domkine srdce patrí umeleckému pohybu a flow arts. Jej najobľúbenejším náradím sú hulahoopy a poi. Tieto náradia vníma ako nástroje, s ktorými sa dá kreatívne pracovať na komplexnej úrovni. Pri hre s týmito náradiami si rozvíja pohybové, mentálne, koordinačné a kreatívne schopnosti. V rámci tanca s hulahoopom a s poi má za sebou desiatky vystúpení doma i za hranicami. <br /><br />

                        Najlepšie sa cíti vo vzduchu pri akrobatickom tanci na hodváboch. Vzdušnej akrobacii sa aktívne venuje od roku 2013. Aj v tejto oblasti má za sebou mnoho vystúpení. <br /><br />

                        Domka má za sebou bohatú tanečnú históriu. Viac ako 10 rokov sa venuje brušným tancom, od roku 2008 profesionálne. Vďaka tomu sa naučila dokonale ovládať svoje telo sval po svale, izolovať jednotlivé pohyby a cítiť rytmus. V súčasnosti experimentuje s prvkami súčasného tanca. <br /><br />

                        Svoje pohybové skúsenosti si obohotila na medzinárodných pohybových festivaloch (EJC Toulouse 2013, EJC Bruneck 2015, IJC Izrael 2016,...) a absolvovala množstvo workshopov u slovenských aj zahraničných lektorov.
                        </p>
                        <br />
                        <i class="fa fa-paper-plane"></i>&nbsp;&nbsp;<a href="mailto:dominika.zennikova@nowillnoskill.academy">dominika.zennikova@nowillnoskill.academy</a>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- /content container -->