
{block #pagescripts}
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>

<script src="{$basePath}/js/vendor/gmaps/jquery.ui.map.full.min.js"></script>
{/block}

{block content}


<!-- page header -->
<div class="pageheader">
    <h2><i class="fa fa-envelope" style="line-height: 48px; padding-left: 0;"></i> Kontakt <span>
    </span></h2>

</div>

<div class="main contact">

    <div class="row">
        <div class="col-md-6">
            <section class="tile color transparent-black rounded-corners">
                <div class="tile-body">

                    <div class="tab-pane fade in active">
                        <h3>Údaje o spoločnosti</h3>
                        <strong>NWNS Unlimited s.r.o.</strong><br />
                        <strong>Sídlo:</strong> Kamenica nad Hronom 200, Kamenica nad Hronom 943 65<br />
                        spoločnosť s ručením obmedzeným zapísaná v obchodnom registri Okresného súdu Nitra, oddiel: Sro, vložka číslo: 39141/N<br />
                        <strong>IČO:</strong> 48 212 377<br />

                        <h3>Adresa</h3>
                        <p>
                            Košická 4<br />
                            821 09, Bratislava
                        </p>
                        <h3>Kontakty</h3>
                        <p>
                            <i class="fa fa-paper-plane"></i>&nbsp;&nbsp;&nbsp;kontakt@nowillnoskill.academy<br />
                        </p>
                        <h3>Doprava</h3>
                        <p>
                            Najbližšia zastávka: Most Apollo<br />
                            Linky: 50, 68, 87, 88, 95, 801<br />
                        </p>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-6">
            <section class="tile transparent">
                <div class="tile-body tab-content nopadding transparent">
                    <div class="tab-pane fade in active" id="basicContainer">
                        <div id="basic" class="gmap rounded-top-corners" style="height: 353px;"></div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <section class="tile transparent">
                <div class="tile-body tab-content nopadding transparent">
                    <img src="images/contact/1.jpg" alt="No Will No Skill Academy 1" title="No Will No Skill Academy 1" style="width: 100%;" /> 
                </div>
            </section>
        </div>
        <div class="col-md-4">
            <section class="tile transparent">
                <div class="tile-body tab-content nopadding transparent">
                    <img src="images/contact/2.jpg" alt="No Will No Skill Academy 2" title="No Will No Skill Academy 2" style="width: 100%;" /> 
                </div>
            </section>
        </div>
        <div class="col-md-4">
            <section class="tile transparent">
                <div class="tile-body tab-content nopadding transparent">
                    <img src="images/contact/3.jpg" alt="No Will No Skill Academy 3" title="No Will No Skill Academy 3" style="width: 100%;" /> 
                </div>
            </section>
        </div>
    </div>
</div>

<script>
    $(function(){

        //Initialize Basic Map Example
        var initBasicMap = function() {
            $('#basic').gmap({'center': '48.140803, 17.129688', 'zoom': 17, 'disableDefaultUI': true, 'callback': function () {
                var self = this;
                self.addMarker({'position': this.get('map').getCenter() }).click(function() {
                    self.openInfoWindow({ 'content': 'No Will No Skill Academy' }, this);
                }); 
            }}); 
        };

        initBasicMap();
    });
</script>