{block content}

<!-- content main container -->
<div class="main">
    <div class="jumbotron color transparent landing" style="float: none; margin: 0 auto;">
        <img src="images/nwnsa-logo-notext-white.png" alt="No Will No Skill Academy logo" title="No Will No Skill Academy logo" class="visible-xs visible-sm" />
        <h1>Prvá Akadémia pohybu na Slovensku</h1>
        <p>S nami zlepšíš svoju silu, rovnováhu, pohybový rozsah a koordináciu. Zbav sa bolestí a daj sa do formy pomocou prirodzeného a zábavného pohybu s vlastným telom!</p>
        <!--<p><a class="btn btn-default" href="#" role="button">Learn more</a></p>-->
    </div>
</div>
<!-- /content container -->