{block content}

<!-- page header -->
<div class="pageheader" name="koncept">
	<h2>
		<i class="fa fa-university" style="line-height: 48px; padding-left: 0;"/> Koncept Akadémie pohybu No Will No Skill</h2>
</div>
<!-- /page header -->

<!-- content main container -->
<div class="main justify about-us">
	<div class="row">
		<div class="col-md-12">
			<section class="tile color transparent-black rounded-corners">
				<div class="tile-header color ">
					<!--<h1>Čomu sa venujeme</h1>-->
				</div>
				<div class="tile-body tab-content">

					<div class="tab-pane fade in active">
						<p>
                            Snažiť sa špecifikovať niečo tak obšírne ako je všestranný pohyb je ako snažiť sa uchovať vodu v koši. Je to veľmi náročná úloha, o ktorú sa snažíme už veľmi dlho. Na tejto stránke môžeš vidieť výsledok našej doterajšej snahy: Koncept Akadémie Pohybu No Will No Skill
						</p><p>
Náš koncept výučby pohybu vychádza z pohybových potrieb človeka 21. storočia, ktorý má 2 zásadné problémy:
						</p>
						<h3>1. Sedavosť</h3>
						<p>
Drvivá väčšina populácie "musí" každý deň presedieť minimálne polovicu svojho dňa. Do toho nerátame odbodbie spánku, ktoré je tiež fyzicky pasívne. V horšom prípade trávi človek aj svoj voľný čas sedením pri televizore, počítači, alebo v aute. Všestranného pohybu, na ktoré bolo jeho telo evolúciou stavané, má naozaj pramálo.
						</p>
						<h3>2. Špecializácia</h3>
						<p>
Pohybová špecializácia znamená jednostranné, alebo monotónne zaťaženie tela. Pri ňom spravidla telu nedopraješ pohyb v plnom rozsahu kĺbov, preťažuješ jeho štruktúru (svaly, kĺby, atď) iba z jednej strany, alebo vykonávaš tú istú činnosť dookola. Typickým príkladom sú športy ako tenis, či hokej, kde náčinie držíš vždy tou istou rukou. Patrí sem ale aj futbal a vlastne akýkoľvek moderný šport, vrátane cvičenia v posilovni.
						</p><p>
Naše telo bolo stvorené na chôdzu, beh, vis, drepenie, plávanie, lezenie, plazenie, skákanie, dvíhanie, prenášanie, či hádzanie (aj ťažkých) predmetov... skrátka na všestranný pohyb, ktorý sa v našej Akadémií snažíme čo najviac napodobniť. 
						</p><p>
Rozvoj tvojho pohybového potenciálu v našej Akadémií prebieha v troch úrovniach, ktoré spolu tvoria útvar Akadémie Pohybu.
						</p>
						<div class="align-center">
							<img src="{$basePath}/images/koncept/01.png" alt="Koncept" title="Koncept" />
						</div>
					</div>

				</div>
			</section>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<section class="tile color transparent-black rounded-corners clearfix">
				<div class="tile-header color ">
					<h1>Prvý level: Basics: Základné pohybové vzory</h1>
				</div>
				<div class="tile-body tab-content color ">

					<div class="tab-pane fade in active">
						<div class="float-image col-md-3">
							<img src="{$basePath}/images/koncept/02.png" alt="Basics" title="Basics" />
						</div>
						<p>
							Prvý level - základ našej Akadémie Pohybu - je zameraný na obnovenie pohybových vzorov, ktoré boli kedysi súčasťou každodenného života, a ktoré väčšina ľudí stratila z dôvodu dlhodobej sedavosti a/alebo špecializácie. Ide o úplné základy pohybu, ktoré by v našom prirodzenom prostredí boli potrebné ku prežitiu. 
						</p><p>
Okrem tých najzákladnejších vzorov ako chôdza, či beh sem patrí napríklad aj hlboký drep, vis, chôdza po štyroch, plazenie, alebo kotúľ na zemi. 
						</p><p>
Tento level charakterizuje náš tréning s výstižným názvom <b>Basics</b> (základy), ktorý je veľmi všestranný a zameriava sa na odstránenie kritických nedostatkov v oblasti pohybu. Na týchto tréningoch to berieme zľahka a snažíme sa ich robiť čo najzábavnejšou formou, aby sme ti zároveň aj pomohli znova objaviť radosť z pohybu. Na túto tému máme aj workshop s názvom <b>Back To Basics</b>.
						</p>
					</div>

				</div>
			</section>
		</div> 
	</div>

	<div class="row">	
		<div class="col-md-12">
			<section class="tile color transparent-black rounded-corners clearfix">
				<div class="tile-header color ">
					<h1>Druhý level: Sila, Mobilita, Kondícia a Nešpecifická koordinácia</h1>
				</div>
				<div class="tile-body tab-content color ">

					<div class="tab-pane fade in active">
						<p>
							V druhom leveli našej Pohybovej Akadémie to už začína byť o niečo náročnejšie a tréningy o niečo špecifickejšie. Spadá sem hlavne budovanie niečoho, čomu hovoríme "pohybová kapacita". Táto zahŕňa tieto štyri hlavné atribúty, ktoré sú znázornené ako piliere:
						</p>
					</div>

				</div>


				<div class="row auto-clear">
					<div class="col-lg-3 col-md-3 col-sm-6">
						<section class="tile color transparent-black rounded-corners clearfix">
							<div class="tile-header color ">
								<h1>1.Mobility: Mobilita</h1>
							</div>
							<div class="tile-body tab-content color ">
								<div class="tab-pane fade in active">
									<img src="{$basePath}/images/koncept/03.png" alt="Mobility" title="Mobility" />
									<p>Mohli by sme ju nazvať aj aktívnym rozsahom pohybu. Mobilita je vlastne kombinácia flexibility a stability. Flexilitu môžme brať ako schopnosť tela pohybovať sa v plnom rozsahu kĺbov. Stabilita je zas schopnosť tela bezpečne sa dostať do týchto rozsahov a zotrvať v nich, prípadne sa z nich vrátiť aj naspäť.
									</p><p>
Pohyb bez dostatočnej mobility je ako jazda na aute so zatiahnutou ručnou brzdou. Ak budeš pracovať na svojej mobilite, budeš sa hýbať s oveľa väčšou ľahkosťou a výrazne zlepšíš aj kvalitu svojho každodenného života. Preto tu pre teba máme <b>tréning Mobility</b> a <b>workshop Freedom In Motion</b>, kde sa sústredíme na budovanie aktívneho rozsahu pohybu tou najefektívnejšou metódou.
									</p>
								</div>
							</div>
						</section>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6">
						<section class="tile color transparent-black rounded-corners clearfix">
							<div class="tile-header color ">
								<h1>2.Strength: Relatívna sila</h1>
							</div>
							<div class="tile-body tab-content color ">
								<div class="tab-pane fade in active">
									<img src="{$basePath}/images/koncept/04.png" alt="Strength" title="Strength" />
									<p>Sila je hnacím motorom pohybu. Ak by sme mali pokračovať v predošlej analógií s autom, mohli by sme povedať, že pohyb bez sily je ako jazda na aute bez motora. Je jednoducho nevyhnutná. Čím výkonnejší motor máš, tým ľahšie sa budeš hýbať (ak teda nemáš zatiahnutú ručnú brzdu).
									</p><p>
Pre účely rozvoja pohybového potenciálu je dôležitá predovšetkým maximálna relatívna sila, tj veľkosť sily generovanej tvojimi svalmi vzhľadom na tvoju telesnú hmotnosť. Tá priamo určuje schopnosť tvojho tela presúvať sa v priestore a prechádzať pritom náročnými polohami, resp. sa v nich udržať.
									</p><p>
S nárastom relatívnej sily chodí ruka v ruke aj nárast absolútnej sily a tvoja lepšia schopnosť byť užitočný aj v každodennom živote. Čím je väčšia tvoja maximálna sila, tým jednoduchšie budú pre teba aj bežné úkony ako sťahovanie nábytku, prenášanie tašiek s nákupom, či dvíhanie tvojich ratolestí.
									</p><p>
Pre tento účel máme špecializovaný <b>tréning Strength</b> a <b>workshop Superhuman Strength</b>.
									</p>
								</div>
							</div>
						</section>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6">
						<section class="tile color transparent-black rounded-corners clearfix">
							<div class="tile-header color ">
								<h1>3. Coordination: Nešpecifická koordinácia</h1>
							</div>
							<div class="tile-body tab-content color ">
								<div class="tab-pane fade in active">
									<img src="{$basePath}/images/koncept/05.png" alt="Coordination" title="Coordination" />
									<p>Koordinácia je schopnosť ovládať svoje telo v priestore. Zahŕňa aj reflexy, rovnováhu, vnímanie svojho tela a jeho okolia a uvedomenie si, kde sa v priestore nachádzaš. S nárastom nešpecifickej koordinácie zlepšíš nie len svoju schopnosť hýbať sa krajšie a efektívnejšie, ale kvalitu svojho bežného života. Zrazu chytíš padajúci pohár, budeš mať lepšiu rovnováhu a uhneš sa frisbee, ktoré ti letí priamo do hlavy.
									</p><p>
Hýbať sa bez koordinácie je ako jazdiť autom bez volantu. Väčšina ľudí jazdí na starej škodovke bez posilňovača riadenia. Našou úlohou je upgradovať tvoju riadiacu jednotku a nainštalovať ti palubné senzory a snímače jazdných pruhov. Preto tu máme pre teba <b>tréningy Movement</b> a <b>Movement Games</b>, na ktorých budeme pracovať hlavne na zlepšovaní tvojej nešpecifickej koordinácie. 
									</p>
								</div>
							</div>
						</section>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6">
						<section class="tile color transparent-black rounded-corners clearfix">
							<div class="tile-header color ">
								<h1>4. Fitness: Kondícia</h1>
							</div>
							<div class="tile-body tab-content color ">
								<div class="tab-pane fade in active">
									<img src="{$basePath}/images/koncept/06.png" alt="Fitness" title="Fitness" />
									<p>Kondícia je schopnosť tvojho tela udržiavať sa v pohybe a podávať vysoký výkon aj po dlhšiu dobu. Okrem vytrvalosti a výkonu zahŕňa kondícia aj stav tvojich šliach a kĺbov a ich schopnosť udržať tempo so zvyškom tela. Tak isto sem patrí aj stav tvojej hormonálnej sústavy a iné "vnútorné" faktory. Ak sa vrátime k analógií s autom, kondícia je vlastne celkový stav vozidla. Ak máš silný motor bez funkčnej prevodovky, stále môžeš jazdiť iba na jednotke. Takisto s deravými gumami, alebo nádržou sa ďaleko nedostaneš.
									</p><p>
Preto sa na našich kondičných tréningoch venujeme celému telu ako jednému komplexu a nie len tomu, ako vyzerať lepšie bez trička (to je iba pekným bonusom). Naše kondičné tréningy sú rozdelené na 3 úrovne: prvá je špeciálne pre ženy s názvom <b>Women Workout</b>, druhá má názov <b>Animal Workout</b> a najnáročnejšia varianta je <b>Beast Mode</b>, kam ti odporúčame prísť iba ak tvoje "vozidlo prešlo STK".
									</p>
								</div>
							</div>
						</section>
					</div>
				</div>
				<div class="tile-body tab-content color ">

					<div class="tab-pane fade in active">
						<p>
							Keďže všetky tieto piliere tvoria základňu pre tretí level, je vhodné ich rozvíhať všetky rovnomerne, aby si nemal jeden pilier vyššie ako druhý.
						</p><p>
Hoci sa to snažíme zjednodušiť, pohyb ako taký je jedným obrovským komplexom, oveľa zložitejší ako to najmodernejšie auto. Skôr by sa dal prirovnať ku tvojmu telu, ktoré je hádam najkomplexnejšou vecou v celom vesmíre. Ako v tvojom tele, tak aj v pohybe všetko so všetkým súvisí. Hore uvedené atribúty sa v skutočnosti nedajú oddeliť pevnou čiarou. Nikdy sa nedá povedať, že jeden prvok je iba vecou koordinácie, alebo iba mobility. Dokonca aj zdanlivo čisto silové prvky, ako napríklad muscle up, sú z veľkej časti o koordinácii a kondícií (hlavne pevnosti šliach).
						</p><p>
Z tohto dôvodu, nech už prídeš na ktorýkoľvek tréning z druhého levelu, vždy budeš pracovať na všetkých štyroch atribútoch súčasne. Basics z prvého levelu je vlastne iba spojenie všetkých týchto atribútov na základnej úrovni do jedného celku. Práca na prvom a druhom levely je niečo, čo by malo byť povinnosťou každého človeka, ktorý nechce predčasne odísť do pohybového dôchodku a svoju starobu (v horšom prípade už aj mladosť) prežiť v bolestiach.
						</p>
					</div>

				</div>
			</section>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<section class="tile color transparent-black rounded-corners clearfix">
				<div class="tile-header color ">
					<h1>Tretí level: Skills: Špecifická koordinácia a umelecký pohyb</h1>
				</div>
				<div class="tile-body tab-content color ">

					<div class="tab-pane fade in active">
						<div class="float-image col-md-3">
							<img src="{$basePath}/images/koncept/07.png" alt="Skills" title="Skills" />
						</div>
						<p>
							Na treťom leveli našej pohybovej pyramídy sa nachádza niečo, čo už pre bežného človeka až tak potrebné nie je, no na rozvoj tvojho pohybového potenciálu má veľký vplyv: špecifická koordinácia a s ňou súvisiaci umelecký pohyb. Môžeš mať perfektne funkčné auto, no pokiaľ je špinavé a má škaredý dizajn, okoloidúcich s ním neohúriš. Ak je tvojim cieľom iba dostať sa z bodu A do bodu B bezpečným spôsobom a užívať si jazdu, budeš úplne spokojný aj na druhom levely. 
						</p><p>
Ak sa ale chceš posunúť ďalej a záleží ti aj na dizajne karosérie tvojho auta, alebo chceš auto do terénu, môžeš si ho vylepšiť na treťom levely našej Akadémie Pohybu. Pod špecifickou koordináciou a umeleckým pohybom si môžeš predstaviť rôzne druhy tanca, či bojových umení, narábanie s predmetmi (vrátane žonglovania), alebo akrobaciu. 
						</p><p>
Tretí level je tvorený strechou, ktorá stojí na pilieroch z druhého levelu a to nie náhodou. Pokiaľ si totiž nevybuduješ dostatočne solídne piliere, strecha bude nevyvážená a môže sa stať, že padne, alebo bude stáť nakrivo. Preto je lepšie vybudovať aspoň ako-tak pevné piliere a až potom začať stavať strechu.
						</p><p>
Napríklad pozemná akrobacia je veľmi nebezpečná pre niekoho, kto nemá dostatočne posilnené členky (mobilita) a silné vnímanie svojho tela v priestore (nešpecifická koordinácia). Bez pružných šliach (kondícia) a odrazovej sily v nohách (sila) to tiež nebude ono. Ak sa do takýchto vecí pustíš bez stabilných pilierov, tvoja strecha bude stáť nakrivo a je len otázkou času kedy sa zrúti (zranenie) a ty budeš musieť začať stavať znova od základov.
						</p><p>
Iné oblasti z tretieho levelu sú relatívne bezpečné, no pôjdu ti oveľa lepšie ak si najprv odmakáš svoje na druhom leveli. Naše tréningy charakteristické pre tretí level sú <b>Handstand</b>, <b>Floor Flow</b>, <b>Soft Acrobatics<b/>, či <b>Hulahoop Dance</b>. Z workshopov sem patrí <b>Downside Up</b>, alebo <b>Flow Motion</b>.
							</p>
						</div>

					</div>
				</section>
			</div> 
		</div>
	</div>