{block content}

<!-- page header -->

<div class="pageheader">
    <h2>Nový človek</h2>
</div>
<!-- /page header -->

<!-- content main container -->
<div class="main justify about-us">
    <div class="row">
        <div class="col-md-6">
            <section class="tile color transparent-black rounded-corners">
                <div class="tile-body tab-content">
                    <div class="tab-pane fade in active">
                        <p>
                            Chceš sa naučiť hýbať lepšie a bez bolestí? Snažíš sa schudnúť, no bezvýsledne? Cítiš sa slabo a bez energie? My ti pomôžeme.<br /><br />

Nový človek je trojmesačný (12 týždenný) program určený pre tých, ktorí potrebujú pomôcť zlepšiť svoje pohybové schopnosti a životosprávu.<br /><br />

Spravíme z teba úplne nového človeka. Človeka ktorý je so sebou a svojím telom spokojný. Človeka, ktorý sa vie efektívne a bezbolestne hýbať. Človeka, ktorý vie, aké potraviny sú pre neho najlepšie. Človeka, ktorý vie trénovať samostatne a počúvať svoje nové, zdravé a dobre vyzerajúce telo.
                        </p>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-6">
            <section class="tile color transparent-black rounded-corners">
                <div class="tile-body tab-content nopadding">

                    <div class="tab-pane fade in active">
                        <div class="video">
                            <iframe src="//www.youtube.com/embed/m8P9_UJomto?rel=0&amp;controls=0&amp;showinfo=0" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                        </div>
                    </div>

                </div>
            </section>
        </div>
    </div>
    <div class="row">    
        <div class="col-md-6">
            <section class="tile color transparent-black rounded-corners">
                <div class="tile-header color ">
                    <h1><strong>Máš</strong> v tom:</h1>
                </div>
                <div class="tile-body tab-content color ">

                    <div class="tab-pane fade in active">
                        <p>
<h3>3x týždenne trénerom vedený tréning v skupine</h3>

Tréningy ťa prevedú našim komplexným systémom na učenie pohybu a naučia ťa lepšie vnímať svoje telo. Vylepšíš svoju mobilitu, získaš slušné silové základy a začneš budovať funkčnú svalovú hmotu.

<h3>(online) poradenstvo ohľadom životosprávy</h3>

Tréning je dôležitý, no bez doladenia životosprávy ti s chudnutím veľmi nepomôže. Preto ti na našich Q&A seminároch, v rámci tréningov a prostredníctvom uzavretej internetovej komunity poradíme ako na to.

<h3>digitálne publikácie Princípy a Kuchyňa Pračloveka</h3>

Okrem osobného prístupu na tréningoch, nášho rokmi vypestovaného know-how a poradenstva obdržíš  Mariánove publikácie. Princípy Pračloveka ti poskytnú veľmi dobrý prehľad o životospráve Nového Človeka a následne sa z Kuchyne Pračloveka naučíš ako si jednoducho a rýchlo navariť chutné a samozrejme zdravé jedlá.

<h3>zaručené viditeľné výsledky do 1 mesiaca</h3>

Ak budeš nasledovať naše rady, výsledky na sebe uvidíš už počas prvého mesiaca. Zhodíš nadbytočný tuk a viditeľne spevnieš
                        </p>
                    </div>

                </div>
            </section>

            <section class="tile color transparent-black rounded-corners">
                <div class="tile-header color ">
                    <h1><strong>Časté</strong> otázky:</h1>
                </div>
                <div class="tile-body tab-content color ">

                    <div class="tab-pane fade in active">
                        <p>
<h3><strong>Čo</strong> sa stane ak v niektorý deň nemôžem prísť na tréning?</h3>

Ak sa z nejakého dôvodu tréningu nevieš zúčastniť, môžeš si ho počas trvania kurzu nahradiť na niektorom z našich skupinových tréningov.

<h3><strong>Kedy</strong> sa začína ďalší kurz?</h3>

Nasledujúci "semester" kurzu Nový Človek sa začína 26. septembra 2016.


<h3><strong>Kedy</strong> sa konajú tréningy?</h3>

Pre tréningy Nový Človek máme rezervovanú celú telocvičňu každý pondelok, stredu a v piatok od 19:00 do 20:00.

<h3><strong>Ako</strong> funguje (online) poradenstvo?</h3>

Staneš sa súčasťou našej uzavretej skupiny na Facebooku, kde sa môžeš poradiť s nami, ale aj s ostatnými členmi komunity – tvojimi súkmeňovcami.<br /><br />

Okrem toho sa môžeš kedykoľvek poradiť s trénerom a súčasťou kurzu sú aj Q&A semináre, kde sa nás v rámci voľnej diskusie môžeš opýtať na čokoľvek.

<h3><strong>Čo</strong> ak počas trvania kurzu musím odísť na dlhšie obdobie (dovolenka a pod.?)</h3>

V ideálnom prípade by si sa mal zúčastniť každého tréningu, keďže na seba naväzujú. Ak ale musíš odísť, máš 2 možnosti:<br /><br />

1. Poradíš sa s trénerom, ktorý ti pomôže zostaviť tréningový plán prispôsobený tvojim podmienkam, podľa ktorého môžeš cvičiť aj na dovolenke.<br /><br />

2. Podľa počtu vynechaných tréningov od nás dostaneš skilliere, ktoré môžeš minúť na skupinových tréningoch.

<h3><strong>Pre koho</strong> (nie) je určený tento kurz?</h3>

Kurz je predovšetkým určený pre ľudí, ktorí majú vytvorený nesprávny pohybový stereotyp (sedenie, jednostranné zaťaženie a pod.), majú bolesti pohybového aparátu, či sa len chcú naučiť hýbať efektívnejšie.<br /><br />

Kurz nie je vyslovene zameraný na chudnutie, alebo naberanie svalov, aj keď tieto väčšinou prichádzajú ako vedľajší efekt zvýšenia sily, resp. upravenia životosprávy. Pokiaľ hľadáš instantné riešenia a tvojou jedinou motiváciou je schudnúť do plaviek, nie si na správnom mieste. 
                        </p>
                    </div>

                </div>
            </section>
        </div> 
         <div class="col-md-6">
            <section class="tile color transparent-black rounded-corners">
                <div class="tile-body tab-content color">

                    <div class="tab-pane fade in active reference-left">
                        <img src="images/references/mzajacik.png" alt="Referencia Matej Zajačik" title="Referencia Matej Zajačik" />
                        <p style="font-style: italic;">
“Kurz je super! Páči sa mi rozmanitosť tréningov, pestrosť pohybu, pohybové hry, a spôsob, akým sa trénuje (hýbe). Sedí mi aj celková filozofia.<br /><br />

Po 3 mesiacoch cítim veľký pokrok v tom, ako sa hýbem, ale hlavne ako sa cítim. A je tu sranda jak sviňa!“
</p><p>
- Matej Zajačik
                        </p>
                    </div>
                </div>
            </section>
        </div>
         <div class="col-md-6">
            <section class="tile color transparent-black rounded-corners">
                <div class="tile-body tab-content color ">

                    <div class="tab-pane fade in active reference-left">
                        <img src="images/references/ivan.png" alt="Referencia Ivan Kraszko" title="Referencia Ivan Kraszko" />
                        <p style="font-style: italic;">
“Podľa mňa je to skutočne niečo prevratné, vzhľadom na vedomosti, ktoré máte.<br /><br />

Skutočne ma prekvapilo, keď som začal chodiť a vy ste začali rozprávať o fyziológii, a anatómii svalov. Mne sa veľmi páčilo, že je to také odborné a niekedy som mal pocit, že ani nie som na klasickom tréningu, ale že je to taká veľmi efektívna rehabilitácia.<br /><br />
Naozaj si myslím že toto je iný koncept, ktorý má veľkú hodnotu práve pre ľudí, ktorí chcú niečo so sebou urobiť, ale nevedia ako na to."
</p><p>
- Ivan Kraszko
                        </p>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-6">
            <section class="tile color transparent-black rounded-corners">
                <div class="tile-body tab-content color ">

                    <div class="tab-pane fade in active reference-right">
                        <img src="images/references/michal.png" alt="Referencia Michal Matate" title="Referencia Michal Matate" />
                        <p style="font-style: italic;">
“Môj najväčší problém bol vážny pád na lyžiach, a potreboval som niečo urobiť so svojím chrbtom. Preto som sa rozhodol prísť do NWNS Academy, kde mi s tým veľmi pomohli.<br /><br />

Kurz sa určite oplatí absolvovať, nakoľko sa tu človek naučí veľmi veľa nových pohybov, získa skvelú metodiku pohybu a rozhýbe sa. <br /><br />

Najviac sa mi páčilo to, že to nebolo klasické cvičenie, aké som poznal doposiaľ z posilovňe, ale skôr to boli také zábavné cvičenia formou hry, ktoré ma to naozaj bavili. Program je skvele pohybovo spravený a výborne zvládnutý zo strany trénerov.” 
</p><p>
- Michal Matate
                        </p>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-6">
            <section class="tile color transparent-white rounded-corners">
                <div class="tile-header color ">
                    <h1><strong>Prihlás sa</strong> teraz</h1>
                </div>
                <div class="tile-body tab-content color ">

                    <div class="tab-pane fade in active">
                        <p>
Nové telo, nové (správne) pohybové návyky a novo nadobudnuté sebavedomie. Toto všetko teraz môžeš získať za skvelú cenu 597€. Tak na čo ešte čakáš?<br /><br />

Ak ideš po výsledkoch, toto je tá najefektívnejšia cesta. Skupina je obmedzená na 8 členov. Ak sa teda chceš prihlásiť, neváhaj a kontaktuj nás emailom pomocou kontaktného formulára, alebo sa spýtaj priamo v Akadémii. 
                        </p>
                        {control signInForm}
                    </div>
                </div>
            </section>
        </div>
        
    </div>
</div>
<!-- /content container -->