{block content}

<!-- page header -->
<div class="pageheader">
    <h2><i class="fa fa-ellipsis-v" style="line-height: 48px; padding-left: 0;"></i> Ponúkame</h2>
</div>
<!-- /page header -->

<!-- content main container -->
<div class="main justify about-us">
    <div class="row">
        <div class="col-md-4 col-sm-6" name="skupinove-treningy">
            <section class="tile color transparent-black rounded-corners">
                <div class="tile-header">
                    <h1><strong>Skupinové</strong> tréningy</h1>
                </div>
                <div class="tile-body tab-content">

                    <div class="tab-pane fade in active">
                        <p>
                            Skupinové tréningy sú založené na našom <a n:href=":Front:Homepage:aboutus#koncept">pohybovom koncepte</a> šiestich pilierov. Vďaka tomu sú štrukturované tak, že každý jeden z nich vylepší iný aspekt tvojich pohybových schopností.<br /><br />

Tréningy sú obmedzené na 15 ľudí, aby sme zachovali ich vysokú kvalitu za rozumnú cenu. Preto je možné, že pokiaľ sa na tréning neprihlásiš, už nebudeš mať miesto. Rezervácia na tréning prebieha pomocou <a n:href="Rozvrh:default" target="_blank">rezervačného systému</a>. Ak si u nás ešte nebol, musíš sa najprv zaregistrovať. Po registrácií automaticky dostaneš 10 Skillierov za ktoré máš možnosť vyskúšať si jeden tréning zadarmo. <br /><br />

Tréningy trvajú spravidla 50 minút a každý tréner má svoj štýl trénovania, ktorý je v súlade s našim konceptom. Ak máš tú možnosť, odporúčame ti vyškúšať všetkých, aby si našiel to pravé pre teba. 
                        </p>
                    </div>

                </div>
            </section>
        </div>
        <div class="col-md-4 col-sm-6" name="individualne-treningy">
            <section class="tile color transparent-black rounded-corners">
                <div class="tile-header">
                    <h1><strong>Individuálne</strong> tréningy a konzultácie</h1>
                </div>
                <div class="tile-body tab-content">

                    <div class="tab-pane fade in active">
                        <p>
                            Ak máš seriózne ťažkosti s pohybom, či len preferuješ osobný prístup, máme tu pre teba skupinku osobných trénerov, ktorí sú pripravení dať ťa do poriadku. Každý jeden z nich je odborníkom na pohyb a pomocou svojich znalostí vyrieši tvoj problém rýchlo a efektívne.<br /><br />

Ak máš záujem o osobný tréning, popíš nám svoj problém, alebo cieľ emailom na <a href="mailto:treningy@nowillnoskillacademy.sk" target="_blank">treningy@nowillnoskillacademy.sk</a> a my ti už posunieme kontakt na jedného z našich osobných trénerov, alebo ich kontaktuj priamo (kontakty nájdeš na stránke <a n:href="Homepage:aboutus">O nás</a>).
                        </p>
                    </div>

                </div>
            </section>
        </div>
        <div class="col-md-4 col-sm-6" name="kurz-novy-clovek">
            <section class="tile color transparent-black rounded-corners">
                <div class="tile-header">
                    <h1><strong>Kurz</strong> Nový človek</h1>
                </div>
                <div class="tile-body tab-content">

                    <div class="tab-pane fade in active">
                        <p>
                            Pokiaľ si úplný pohybový analfabet a rozhodol si sa vstúpiť do pohybového vesmíru, máme tu niečo pre teba. Na našom kurze Nový Človek ťa naučíme hýbať sa s ľahkosťou a bez bolestí a to pekne postupne, od úplných základov.<br /><br />

Nezáleží na tom, či máš nadváhu, sedavé zamestnanie, alebo si skrátený kvôli nesprávnemu cvičeniu. Ak máš bolesti kĺbov, svalov, či šliach, s nami máš príležitosť sa konečne dať dokopy.<br /><br />

Okrem správneho pohybu ťa naučíme aj čo-to o správnom stravovaní a životospráve. Ak potrebuješ schudnúť a dať sa do formy, môže to byť práve tento kurz, ktorý ťa nasmeruje na správnu cestu.<br /><br />

Viac o kurze Nový Človek si môžeš prečítať na <a n:href=":Front:Homepage:novyclovek">tejto stránke</a>.
                        </p>
                    </div>

                </div>
            </section>
        </div>
    </div>
</div>
<!-- /content container -->