{block content}

<!-- page header -->
<div class="pageheader" name="kurzy">
    <h2><i class="fa fa-graduation-cap" style="line-height: 48px; padding-left: 0;"></i> Výučba</h2>
</div>
<!-- /page header -->

<!-- content main container -->
<div class="main justify about-us">
    <div class="row">
        <div class="col-md-12">
            <section class="tile color transparent-black rounded-corners">
                <div class="tile-header color ">
                    <!--<h1>Čomu sa venujeme</h1>-->
                </div>
                <div class="tile-body tab-content">

                    <div class="tab-pane fade in active">
                        <p>Pohybová výučba v No Will No Skill Academy prebieha formou kurzov. Ide o balíky tréningov rovnakého druhu na aktuálny trimester, ktorý trvá 12 týždňov. Hoci sú naše kurzy otvorené, čiže sa na tréningy môže prihlásiť ktokoľvek a kedykoľvek (pokiaľ nie sú plné), pri registrácií vopred na celý kurz budeš mať oveľa nižšiu cenu za tréning a zabezpečíš si stabilný progres.
</p><p>Kapacita kurzov je obmedzená na 12, resp. 16 účastníkov (v závislosti od druhu). Tým, že sa na kurz zapíšeš si zabezpečíš, že na tréningu budeš mať vždy miesto (prihlásime ťa naň automaticky) a prihlasovanie na tréning nemusíš vôbec riešiť.

</p><p>Každý kurz má dané svoje ciele, na ktorých budeš systematicky pracovať; nástroje, pomocou ktorých sa ku nim dopracuješ; a tiež svoje osnovy, ktoré zabezpečia, že sa na kurze budú veci preberať systematicky, aj keď ho budú viesť iní tréneri.

</p><p>Kurzy sú vedené takým štýlom, že sa na nich môžeš vždy niečo nové naučiť. Je teda vhodné absolvovať rovnaký kurz aj viac trimestrov po sebe, kým nebudeš mať ciele daného kurzu úplne zvládnuté a nebudeš sa cítiť na ďalší level.

</p><p>Pokiaľ si nováčik vo svete všestranného pohybu, odporúčame ti prihlásiť sa na kurz Basics. Na ňom sa naučíš základné pohybové vzory, zlepšíš svoju mobilitu a zľahka popracuješ aj na svojej sile a kondícií.
</p><p>Ak už máš vybudovaný nejaký ten základ a chceš sa viac venovať rozvoju sily a kondície, môžeš sa posunúť na tréning Workout. Pre ženy máme špeciálny tréning s názvom Women, kde sa komplexne venujeme rozvoju mobility, sily, kondície, ale aj koordinácie.
</p><p>Okrem toho máme v ponuke aj kurz Handstand venovaný špeciálne rozvoju stojky vo voľnom priestore a s ňou súvisiacou silou.
</p><p>Zápis na otvorené kurzy prebieha až do polovice jeho trvania, resp. do zaplnenia jeho kapacity. Cena kurzu sa vždy vyráta podľa počtu ostávajúcich týždňov do jeho konca. Otvorených kurzov sa môžeš zúčastniť aj bez zápisu, pokiaľ na nich je voľné miesto. Jednoducho si tréning zarezervuješ za skilliere v našom rozvrhu. Ďalšia možnosť je zaplatíť tréning v hotovosti na mieste, no v takomto prípade je najdrahší. Môže sa tiež stať, že je plný a tréner ťa naň nepustí.
</p>
                    </div>

                </div>
            </section>
        </div>
    </div>
	<div class="row auto-clear">
		<div class="col-lg-6 col-md-6 col-sm-6">
			<section class="tile color transparent-black rounded-corners clearfix">
                <div class="tile-header color ">
                    <h1>Workout</h1>
                </div>
				<div class="tile-body tab-content color ">
                    <div class="tab-pane fade in active">
						<img src="{$basePath}/images/treningy/lsit-min.jpg" alt="Workout" title="Workout" />
						Ak už zvládaš základné pohybové vzory a chceš ďalej zlepšovať svoju silu a kondíciu, pridaj sa na Workout! Na tomto tréningu používame prirodzené pohyby s vlastným telom, ktoré okrem sily a kondičky zlepšia aj tvoju koordináciu v priestore. Okrem tréningu s vlastnou váhou na zemi, hrazdách a gymnastických kruhoch si zacvičíš aj s kettlebellom. Tréningy sú vďaka vysoko prispôsobiteľným cvičeniam a rôznym váham kettlebellov vhodné pre začiatočníkov aj pokročilých makačov.
						<br /><br />
						<div>
						(mobilita 10 / sila 40 / koordinácia 10 / kondícia 40)<br />
						<strong>Prerekvizity:</strong> hlboký drep, 60s vis, 30s german hang<br />
						<strong>Ciele:</strong> budovať silu, zlepšovať kondíciu<br />
						<strong>Kapacita</strong>: 12 ľudí<br />
						</div>
					</div>
				</div>
			</section>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6">
			<section class="tile color transparent-black rounded-corners clearfix">
                <div class="tile-header color ">
                    <h1>Basics</h1>
                </div>
				<div class="tile-body tab-content color ">
                    <div class="tab-pane fade in active">
						<img src="{$basePath}/images/treningy/basics_small-min.png" alt="Basics" title="Basics" />
						Ak máš sedavé zamestnanie, alebo tráviš priveľa času bez pohybu, tréning Basics je ako ušitý pre teba. Cieľom tréningu je pomocou výživného a všestranného pohybu napraviť negatívne účinky sedenia či jednostranného zaťaženia (či už v športe, alebo práci) a preučiť ťa základné pohybové vzory. Vďaka tomu zlepšíš kvalitu svojho každodenného života a vybuduješ pevný základ pre svoj ďalší pohybový rozvoj. Ak sa plánuješ vydať na cestu všestranného pohybu, odporúčame začať s Basics.
						<br /><br />
						<div>
						(mobilita 40 / sila 10 / koordinácia 40 / kondícia 10)<br />
						<strong>Prerekvizity</strong>: žiadna výrazná bolesť pri pohybe<br />
						<strong>Ciele</strong>: odbúrať škodu napáchanú sedením, vybudovať základné pohybové vzory<br />
						<strong>Kapacita</strong>: 16 ľudí<br />
						</div>
					</div>
				</div>
			</section>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6">
			<section class="tile color transparent-black rounded-corners clearfix">
                <div class="tile-header color ">
                    <h1>Women</h1>
                </div>
				<div class="tile-body tab-content color ">
                    <div class="tab-pane fade in active">
						<img src="{$basePath}/images/treningy/WOMEN-WORKOUT_small-min.png" alt="Woman" title="Woman" />
						Chcela by si formovať svoju postavu zábavnou formou a v spoločnosti podobne naladených žien? Máme tu niečo pre teba! Tréning Women je silovo-kondičný tréning so zameraním na všestranný pohyb určený špeciálne pre ženy, a to bez ohľadu na aktuálnu formu. V súlade s myšlienkou všestranného pohybu budeme okrem cvičení na efektívne formovanie postavy klásť dôraz aj na posilnenie kĺbov a šliach, či zlepšenie tvojej ohybnosti a koordinácie. Pridaj sa a staň sa Superženou!
						<br /><br />
						<div>
						(mobilita 20 / sila 30 / koordinácia 20 / kondícia 30)<br />
						<strong>Prerekvizity:</strong> žiadna výrazná bolesť pri pohybe<br />
						<strong>Ciele:</strong> budovať základné pohybové vzory, kondičku a silu<br />
						<strong>Kapacita</strong>: 12 ľudí<br />
						</div>
					</div>
				</div>
			</section>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6">
			<section class="tile color transparent-black rounded-corners clearfix">
                <div class="tile-header color ">
                    <h1>Handstand</h1>
                </div>
				<div class="tile-body tab-content color ">
                    <div class="tab-pane fade in active">
						<img src="{$basePath}/images/treningy/handstand_small-min.png" alt="Handstand" title="Handstand" />
						Chceš sa naučiť stáť na rukách stabilne a bez toho, aby tvoje nohy lietali v priestore? Chceš sa zbaviť strachu z prevrátenia dolu hlavou? Chceš otvoriť a spevniť svoje ramená? Pridaj sa na tréning Handstand! Jeho hlavný cieľ je veľmi jednoduchý: naučiť ťa stabilnú stojku vo voľnom priestore bez opory. Okrem toho pracujeme aj na sile potrebnej pre rôzne druhy výtlakov do stojky, či iných balančných polohách na rukách. Pomocou tohto tréningu výrazne zlepšíš svoju silu rúk a koordináciu v priestore.
						<br /><br />
						<div>
						(mobilita 20 / sila 35 / koordinácia 35 / kondícia 10)<br />
						<strong>Prerekvizity:</strong> žiadna bolesť ramien a zápästí<br />
						<strong>Ciele:</strong> stojka vo voľnom priestore, výtlaky do stojky<br />
						<strong>Kapacita</strong>: 12 ľudí<br />
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>	
</div>
<!-- /content container -->

<script type="text/javascript">
// Starrr plugin (https://github.com/dobtco/starrr)
var __slice = [].slice;

(function($, window) {
    var Starrr;

    Starrr = (function() {
        Starrr.prototype.defaults = {
            rating: 0,
            numStars: 3,
            change: function(e, value) {}
        };

        function Starrr($el, options) {
            var i, _, _ref,
                _this = this;

            this.options = $.extend({}, this.defaults, options);
            this.$el = $el;
            _ref = this.defaults;
            for (i in _ref) {
                _ = _ref[i];
                if (this.$el.data(i) != null) {
                    this.options[i] = this.$el.data(i);
                }
            }
            this.createStars();
            this.syncRating();
            // this.$el.on('mouseover.starrr', 'i', function(e) {
                // return _this.syncRating(_this.$el.find('i').index(e.currentTarget) + 1);
            // });
            // this.$el.on('mouseout.starrr', function() {
                // return _this.syncRating();
            // });
            // this.$el.on('click.starrr', 'i', function(e) {
                // return _this.setRating(_this.$el.find('i').index(e.currentTarget) + 1);
            // });
            // this.$el.on('starrr:change', this.options.change);
        }

        Starrr.prototype.createStars = function() {
            var _i, _ref, _results;

            _results = [];
            for (_i = 1, _ref = this.options.numStars; 1 <= _ref ? _i <= _ref : _i >= _ref; 1 <= _ref ? _i++ : _i--) {
                _results.push(this.$el.append("<i class='fa fa-star-o'></i>"));
            }
            return _results;
        };

        Starrr.prototype.setRating = function(rating) {
            if (this.options.rating === rating) {
                rating = void 0;
            }
            this.options.rating = rating;
            this.syncRating();
            return this.$el.trigger('starrr:change', rating);
        };

        Starrr.prototype.syncRating = function(rating) {
            var i, _i, _j, _ref;
            rating || (rating = this.options.rating);
            if (rating) {
                for (i = _i = 0, _ref = rating - 1; 0 <= _ref ? _i <= _ref : _i >= _ref; i = 0 <= _ref ? ++_i : --_i) {
                    this.$el.find('i').eq(i).removeClass('fa-star-o').addClass('fa-star');
                }
				if (i < rating) {
					this.$el.find('i').eq(i).removeClass('fa-star-o').addClass('fa-star-half-o');
					rating = Math.ceil(i);
				}
            }
            if (rating && rating < this.options.numStars) {
				var starCount = this.options.numStars - 1;
                for (i = _j = rating; rating <= starCount ? _j <= starCount : _j >= starCount; i = rating <= starCount ? ++_j : --_j) {
                    this.$el.find('i').eq(i).removeClass('fa-star').addClass('fa-star-o');
                }
            }
            if (!rating) {
                return this.$el.find('i').removeClass('fa-star').addClass('fa-star-o');
            }
        };

        return Starrr;

    })();
    return $.fn.extend({
        starrr: function() {
            var args, option;
            option = arguments[0], args = 2 <= arguments.length ? __slice.call(arguments, 1) : [];
            return this.each(function() {
                var data;
				
                data = $(this).data('star-rating');
                if (!data) {
                    $(this).data('star-rating', (data = new Starrr($(this), option)));
                }
                if (typeof option === 'string') {
                    return data[option].apply(data, args);
                }
            });
        }
    });
})(window.jQuery, window);

$(function() {
    return $(".starrr").starrr();
});

$( document ).ready(function() {
      
  $('#stars').on('starrr:change', function(e, value){
    $('#count').html(value);
  });
  
  $('#stars-existing').on('starrr:change', function(e, value){
    $('#count-existing').html(value);
  });
});

</script>