{block pagescripts}
  <script src="{$basePath}/js/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="{$basePath}/js/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="{$basePath}/js/vendor/datatables/ColReorderWithResize.js"></script>
    <script src="{$basePath}/js/vendor/datatables/colvis/dataTables.colVis.min.js"></script>
    <script src="{$basePath}/js/vendor/datatables/tabletools/ZeroClipboard.js"></script>
    <script src="{$basePath}/js/vendor/datatables/tabletools/dataTables.tableTools.min.js"></script>
    <script src="{$basePath}/js/vendor/datatables/dataTables.bootstrap.js"></script>
    <script src="{$basePath}/js/vendor/flot/jquery.flot.min.js"></script>
    <script src="{$basePath}/js/vendor/flot/jquery.flot.animator.min.js"></script>
    <script src="{$basePath}/js/vendor/chosen/chosen.jquery.min.js"></script>
  <script>
  $(function(){
    // Add custom class to pagination div
    $.fn.dataTableExt.oStdClasses.sPaging = 'dataTables_paginate paging_bootstrap paging_custom';

    $('.table-datatable').dataTable();
    $('div.dataTables_filter input').addClass('form-control');
    $('div.dataTables_length select').addClass('form-control');
    $(".dataTables_paginate").parent().removeClass("col-md-4").addClass("col-md-8 text-right sm-center");

    // Initialize flot chart
          var d2 = {json_encode($chart_data)|noescape}
          var months = ["January", "February", "March", "April", "May", "Juny", "July", "August", "September", "October", "November", "December"];

          // flot chart generate
          var plot = $.plotAnimator($("#statistics-chart"),
            [
              { label: "Visits",
                data: d2,
                animator: { steps: 99, duration: 500, start:200, direction: "right"},
                lines: {
                  fill: .15,
                  lineWidth: 0
                },
                color:['#ffffff']
              },
              { label: "Visits",
                data: d2,
                points: { show: true, fill: true, radius:6,fillColor:"rgba(255,255,255,.2)",lineWidth:2 },
                color: '#fff',
                shadowSize:0
              }
            ],{

            xaxis: {

              tickLength: 0,
              tickDecimals: 0,
              min:1,
              ticks: [[1,"JAN"], [2, "FEB"], [3, "MAR"], [4, "APR"], [5, "MAY"], [6, "JUN"], [7, "JUL"], [8, "AUG"], [9, "SEP"], [10, "OCT"], [11, "NOV"], [12, "DEC"]],

              font :{
                lineHeight: 24,
                weight: "300",
                color: "#ffffff",
                size: 14
              }
            },

            yaxis: {
              ticks: 4,
              tickDecimals: 0,
              tickColor: "rgba(255,255,255,.3)",

              font :{
                lineHeight: 13,
                weight: "300",
                color: "#ffffff"
              }
            },

            grid: {
              borderWidth: {
                top: 0,
                right: 0,
                bottom: 1,
                left: 1
              },
              borderColor: 'rgba(255,255,255,.3)',
              margin:0,
              minBorderMargin:0,
              labelMargin:20,
              hoverable: true,
              clickable: true,
              mouseActiveRadius:6
            },

            legend: { show: false}
          });

  })

  </script>
{/block}


{block content}

<!-- page header -->
<div class="pageheader">
    <h2><i class="fa fa-exchange" style="line-height: 48px;padding-left: 2px;"></i> Moja aktivita</h2>
</div>
<!-- /page header -->

<!-- content main container -->
<div class="main">

<!-- row -->
<div class="row">
  <!-- col 12 -->
  <div class="col-md-12">
    <!-- tile -->
    <section class="tile transparent">
      <!-- tile header -->
      <!-- <div class="tile-header color transparent-black textured rounded-top-corners">
        <h1><strong>Tréningov za mesiac</h1>
      </div> -->
      <!-- /tile header -->

      <!-- tile widget -->
      <div class="tile-widget color transparent-black textured">
        <div id="statistics-chart" class="chart statistics" style="height: 200px;"></div>
      </div>
      <!-- /tile widget -->
    </section>
  </div>
</div>
<!-- row -->
<div class="row">
  <!-- col 12 -->
  <div class="col-md-12">
    <!-- tile -->
    <section class="tile transparent">
      <!-- tile body -->
      <div class="tile-body color transparent-black rounded-corners">

        <div class="table-responsive">
          <table  class="table table-datatable table-custom">
            <thead>
              <tr>
                <th class="sort-alpha">Čas transakcie</th>
                <th class="sort-alpha">Typ pohybu</th>
                <th class="sort-alpha">Položka</th>
                <th class="sort-numeric">Cena</th>
              </tr>
            </thead>
            <tbody>

              {foreach $data as $row}
              <tr>
                  <td>{$row['date_created']->format("d.m.Y, H:i")}</td>
                  <td>{$row['nazov']}</td>
                  <td>{$row['polozka']}</td>
                  <td>
                    {if $row['transaction_type_id'] == \App\Models\Transakcie::TRENING_PRIHLASENIE_TID}
                      -
                    {elseif $row['transaction_type_id'] == \App\Models\Transakcie::TRENING_ODHLASENIE_TID}
                      +
                    {/if}
                    {$row['cena']}
                  </td>
              </tr>
              {/foreach}
            </tbody>
          </table>
        </div>
      </div>
      <!-- /tile body -->
    </section>
    <!-- /tile -->
  </div>
  <!-- /col 12 -->
</div>
<!-- /row -->

</div>
<!-- /content container -->