
{block content}


<!-- page header -->
<div class="pageheader">
    <h2><i class="fa fa-usd" style="line-height: 48px;padding-left: 2px;"></i> Nákup skillierov</h2>
</div>
<!-- /page header -->

<br />
<!--row start-->
<div class="row">
  <!--col-md-6 start-->
  <div class="col-md-6">

  <section class="tile color transparent-white">
    <!-- tile header -->
    <div class="tile-header">
      <h1>Objednávka</h1>
    </div>
    <!-- /tile header -->

    <!-- tile body -->
    <div class="tile-body">
      {form form}
      <div class="form-group required">
      	<div class="col-sm-3 control-label">{label produkt /}</div>
      	<div class="col-sm-9">{input produkt class => 'chosen-select chosen-transparent form-control'}</div>
      </div>
      <div class="form-group required">
      	<div class="col-sm-3 control-label">{label uhrada /}</div>

      	<div class="col-sm-9">
      	{foreach $form['uhrada']->items as $key => $value}
      	<div class="radio">
            {$form['uhrada']->getOneControl($key)}
            {$form['uhrada']->getOneLabel($key)}
      	</div>
        {/foreach}
      	</div>
      </div>
      <div class="form-group required">
      	<div class="col-sm-9 col-sm-offset-3">
            {$form['obchodne_podmienky']->getControl()} <a n:href="Coins:op" style="color:white">Súhlasím s obchodnými podmienkami</a>
      	</div>
      </div>
      <div class="form-group">
          <div class="col-sm-offset-3 col-sm-9">
            {input submit}
          </div>
        </div>
      {/form}
    </div>
    <!-- /tile body -->
  </section>
  </div>

  <div class="col-md-6">
  <section class="tile color transparent-black">
    <!-- tile header -->
    <div class="tile-header">
      <h1>Informácie</h1>
    </div>
    <!-- /tile header -->

    <!-- tile body -->
    <div class="tile-body">
        <p>
			<strong>NWNS Unlimited s.r.o. - NWNS Academy</strong><br/>
            <strong>Číslo účtu:</strong> 2948026992 / 1100 <br/>
            <strong>IBAN:</strong> SK45 1100 0000 0029 4802 6992<br /><br />

            Dôležité: <br /><br />

            Ak platíš prevodom, <b>je potrebné urobiť objednávku ešte pred vykonaním platby</b>. V opačnom prípade ju náš systém nerozozná automaticky a pripísanie skillierov sa môže zdržať aj niekoľko dní. Pri prevode nezabudni na svoj variabilný symbol.<br /><br />

            <b>Platnosť skillierov je 3 mesiace</b> od ich pripísania na tvoje konto, po ktorých budú zamrazené. V prípade opätovného dobitia sa ich platnosť predĺži o ďalšie 3 mesiace od dňa potvrdenia poslednej objednávky.<br /><br />
        </p>
    </div>
    <!-- /tile body -->
  </section>
  </div>


</div>
