﻿
{block content}


<!-- page header -->
<div class="pageheader">
    <h2><i class="fa fa-usd" style="line-height: 48px;padding-left: 2px;"></i> Obchodné podmienky</h2>
</div>
<!-- /page header -->

<br />
<!--row start-->
<div class="row">

  <div class="col-md-12">
      <section class="tile color transparent-black">
        <!-- tile header -->
        <div class="tile-header">
          <h1>Predávajúci</h1>
        </div>
        <!-- /tile header -->

        <!-- tile body -->
        <div class="tile-body">
            <p>No Will No Skill (NWNS) Academy</p><br /><br />
            <b>Firemné údaje</b><br /><br />
            No Will No Skill s.r.o<br />
            Kamenica nad Hronom 200,<br />
            94365 Kamenica nad Hronom<br /><br />

            IČO: 47223286<br />
            DIČ: 2023336986<br />

            <br /><b>Prevádzkareň</b><br />
            Košická 4<br />
            821 09 Bratislava<br />
<br />
            <b>Vedúci</b><br />
            Marián Černý<br />
            Tel: +421 907 114 774<br />
            E-mail: marian@nowillnoskill.sk<br /><br />

            Číslo účtu: 2948026992 / 1100 (Tatra Banka)<br />
            IBAN: SK45 1100 0000 0029 4802 6992
        </div>
        <!-- /tile body -->
      </section>
  </div>

  <div class="col-md-12">
      <section class="tile color transparent-black">
        <!-- tile header -->
        <div class="tile-header">
          <h1>Objednávka</h1>
        </div>
        <!-- /tile header -->

        <!-- tile body -->
        <div class="tile-body">
            <p>Predmetom objednávky sú Skilliere (kredity), alebo mesačná permanentka, pomocou ktorých sa môže zákazník registrovať na skupinové tréningy. Objednávka má svoj variabilný symbol a vzniká odoslaním formulára na stránke nákupu. Potvrdenie o jej prijatí bude odoslané na email zákazníka. Objednávku môže vytvoriť iba registrovaný člen NWNS Academy.</p><br /><br />

            <p>Objednávky s vybranou formou úhrady "prevodom" sú potvrdzované automaticky raz denne našim systémom, ktorý vybranú čiastku Skillierov po evidencií platby priráta na konto zákazníka, cez ktoré bola objednávka vytvorená. Z tohto dôvodu je potrebné pri platbe uvádzať variabilný symbol, ktorý je unikátny pre každú objednávku a ktorý sa zobrazí v obdržanom emaily. Rovnako dôležité je pred odoslaním platby mať vytvorenú objednávku. V opačnom prípade systém nemá ako spárovať platbu s objednávkou a treba kontaktovať správcu systému.</p><br /><br />

            <p>Objednávku je možné vytvoriť aj osobne v našej prevádzkarni pri platbe v hotovosti. V takom prípade bude objednávka pridaná a potvrdená správcom systému do 3 pracovných dní od jej úhrady.</p>
        </div>
        <!-- /tile body -->
      </section>
  </div>
  
  <div class="col-md-12">
      <section class="tile color transparent-black">
        <!-- tile header -->
        <div class="tile-header">
          <h1>REZERVÁCIA TRÉNINGOV</h1>
        </div>
        <!-- /tile header -->

        <!-- tile body -->
        <div class="tile-body">
            <p>Rezervácia tréningov prebieha pomocou interaktivneho rozvrhu na stránke predávajúceho dvoma spôsobmi:</p><br /><br />

            <p>V prípade, že člen nemá aktívnu permanentku, z konta sa mu po prihlásení na tréning odráta príslušný počet skillierov. Za skilliere je možné prihlásiť sa na neobmedzené množstvo tréningov vopred. V prípade neúčasti na tréningu skilliere prepadnú a člen nemá právo na ich vrátenie.</p><br /><br />

            <p>V prípade, že má člen aktívnu permanentku, môže sa prihlásiť na tréningy bez odrátania skillierov. Prihlasovanie je v takomto prípade obmedzené na maximálne 3 tréningy vopred. V prípade, že sa člen prihlási na tréning týmto spôsobom a následne sa ho nezúčastní, môže mu byť udelený červený bod za zadržiavanie a nevyužitie miesta na tréningu. V prípade, že účastník dostáva tretí červený bod počas trvania platnosti aktuálnej permanentky mu táto bude zrušená.</p>
			
			<p>Na tréning sa dá prihlásiť maximálne 15 minút pred jeho začiatkom s výnimkou zrušených tréningov. Odhlasovanie z poobedných tréningov sa uzatvára 3 hodiny pred tréningom a odhlasovanie z ranných tréningov sa uzatvára 10 hodín pre ich začiatkom. Ak sú v tomto čase prihlásení menej ako traja účastníci, tréning sa ruší. V takom prípade sa už naň nie je možné prihlásiť a kredity budú vrátené všetkým prihláseným.</p>
        </div>
        <!-- /tile body -->
      </section>
  </div>

  <div class="col-md-12">
      <section class="tile color transparent-black">
        <!-- tile header -->
        <div class="tile-header">
          <h1>Platobné podmienky</h1>
        </div>
        <!-- /tile header -->

        <!-- tile body -->
        <div class="tile-body">
            <p>K dispozícií sú 3 možnosti platby:</p><br /><br />

            <p>1. Platba prevodom, alebo vkladom hotovosti na náš účet v Tatra banke (viď vyššie)</p>

            <p>Pred vykonaním platby je potrebné vytvoriť objednávku a pri platbe treba použiť variabilný symbol objednávky. Objednávka bude potvrdená automaticky po pripísaní sumy na účet, čo môže trvať aj 3 a viac pracovných dní (v prípade Tatra Banky väčšinou ešte v ten deň).</p><br /><br />

            <p>2. Platba cez paypal - kartou, alebo pomocou paypal účtu.</p>

            <p>Najrýchlejšia forma platby, po ktorej je objednávka okamžite potvrdená.</p><br /><br />

            <p>3. Platba v hotovosti v našej prevádzkarni.</p>
        </div>
        <!-- /tile body -->
      </section>
  </div>


  <div class="col-md-12">
      <section class="tile color transparent-black">
        <!-- tile header -->
        <div class="tile-header">
          <h1>Platnosť kreditov a reklamácie</h1>
        </div>
        <!-- /tile header -->

        <!-- tile body -->
        <div class="tile-body">
            <p>Skilliere sú platné 3 mesiace od ich pripísania na konto zákazníka (tj. od potvrdenia objednávky), po ktorých budú zamrazené a neplatné. V prípade opätovného dobitia sa nové skilliere prirátajú ku zostávajúcim a ich platnosť sa predĺži o ďalšie 3 mesiace odo dňa potvrdenia poslednej objednávky.</p><br /><br />
			
			<p>Permanentka je platná vždy do rovnakého dňa ďalšieho mesiaca, ako v ktorom bola objednávka na ňu potvrdená. </p><br /><br />

            <p>Peniaze za zakúpené Skilliere nie je možné vrátiť.</p>
        </div>
        <!-- /tile body -->
      </section>
  </div>

  <div class="col-md-12">
      <section class="tile color transparent-black">
        <!-- tile header -->
        <div class="tile-header">
          <h1>Na stiahnutie</h1>
        </div>
        <!-- /tile header -->

        <!-- tile body -->
        <div class="tile-body">
            <a target="_blank" href="{$basePath}/files/Reklamačný poriadok_NWNS_01s.pdf"><strong>Reklamačný poriadok</strong></a><br />
            <a target="_blank" href="{$basePath}/files/Vzorový formulár_NWNS_01s.pdf"><strong>Vzorový formulár na odstúpenie od zmluvy</strong></a>
        </div>
        <!-- /tile body -->
      </section>
  </div>


</div>
