{block content}

<div class="pageheader">
	<h2><i class="fa fa-home" style="line-height: 48px;padding-left: 2px;"></i> Dashboard</h2><br />
	<a n:href="Orders:addCash" class="btn btn-default">Nová cash objednávka</a>
</div>

<div class="main">
	<div class="row">
	  <div class="col-md-4 tile color transparent-black rounded-corners">
		<div class="tile-header">Noví členovia za posledný mesiac:</div>
		<div class="tile-body">
		</div>
	  </div>
	</div>
</div>