{block content}

<!-- page header -->
<div class="pageheader">
<h2><i class="fa fa-calendar" style="line-height: 48px;padding-left: 2px;"></i> Rozvrh</h2>
</div>
<!-- /page header -->

<!-- content main container -->
<div class="main">
    <div class="row">
        <div class="col-md-12">
            {control kalendar}
        </div>
    </div>
    <div class="row">

      <!-- col 12 -->
        <div class="col-md-6">
            <section class="tile color transparent-black rounded-corners">
                <div class="tile-header">
                    <h1>Informácie</h1>
                </div>
                <div class="tile-body tab-content">

                    <div class="tab-pane fade in active">
                        <p>
                            Na tréning sa môžeš prihlásiť najneskôr 15 minút pred jeho začiatkom. Odhlasovanie sa uzatvára 12 hodín pred konaním tréningu. Ak v tomto čase nebude prihlásený ani jeden človek, tréning sa ruší. 
                            <br /><br />Za rezerváciu na tréning sa platí Skilliermi (1 tréning = 10SC). Prvý kredit obdržíš zadarmo po svojej registrácii v našom systéme. Doplniť si ich môžeš po prihlásení na <a n:href=":User:Coins:">tejto stránke</a> stránke (platba kartou / prevodom), alebo v hotovosti priamo v Akadémii.
                            <br /><br />Väčšina tréningov v rozvrhu prebieha formou otvorených kurzov. Ak chceš ušetriť a zároveň si zabezpečiť miesto na danom tréningu vždy v rovnaký čas, odporúčame ti prihlásiť sa na celé trvanie kurzu. Viac informácií o kurzoch nájdeš na stránke <a n:href=":Front:Homepage:vyucba">Výučba</a>.
                            <br /><br />AKTUÁLNY TRIMESTER TRVÁ OD 3.4. DO 23.6.2017
						</p>
                    </div>

                </div>
            </section>
        </div>
        <div class="col-md-6">
            <section class="tile color transparent-black rounded-corners">
                <div class="tile-header">
                    <h1>Cenník</h1>
                </div>
                <div class="tile-body tab-content">

                    <div class="tab-pane fade in active">
                        <p>

                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th>Produkt</th>
                                        <th>Cena</th>
                                        <th>Cena / tréning</th>
                                    </tr>
                                    <tr>
                                        <td>Jednorazový vstup (bez registrácie)</td>
                                        <td>8 €</td>
                                        <td>8 €</td>
                                    </tr>
                                    <tr>
                                        <td>70 skillierov *</td>
                                        <td>47 €</td>
                                        <td>6.7 €</td>
                                    </tr>
                                    <tr>
                                        <td>Kurz (2 tr. / týždeň) **</td>
                                        <td>117 €</td>
                                        <td>4.9 €</td>
                                    </tr>
                                    <tr>
                                        <td>Kurz (3 tr. / týždeň) **</td>
                                        <td>167 €</td>
                                        <td>4.6 €</td>
                                    </tr>
                                    <tr>
                                        <td>Vlastný Kurz (1-5 tr. / týždeň) ***</td>
                                        <td>77 - 257 €</td>
                                        <td>4.3 - 6.4 €</td>
                                    </tr>
                                    <tr>
                                        <td>Permanentka na trimester (12 týždňov - do 15.9.2017)</td>
                                        <td>177 €</td>
                                    </tr>
                                    <tr>
                                        <td>Permanentka mesačná</td>
                                        <td>67 €</td>
                                    </tr>
                            	</tbody>
                            </table>
                        </p>
						<p>
                        * Platnosť Skillierov je 3 mesiace od dátumu ich zakúpenia, po ktorých budú zmrazené. Ich platnosť sa po ďalšom dobití opäť predĺži o 3 mesiace.<br />
                        ** Na kurz sa prihlasuje vždy do konca aktuálneho trimestra. Uvedená cena platí na celých 12 týždňov a pri neskorej registrácií je prispôsobená.<br />
                        *** Ak si chceš vyskladať vlastný kurz (napr. kombinovať ranné a večerné tréningy), napíš nám na kontakt@nowillnoskill.academy<br />
                        </p>
                    </div>

                </div>
            </section>
        </div>
      <!-- /col 12 -->

    </div>
<!-- /row -->

</div>
<!-- /content container -->