<script type="text/javascript">

$(document).ready(function() {
    $('#calendar select').change(function (e) {
        var day = $(this).attr("data-day");
        var time_id = $(this).attr("data-time-id");
        var value = $(this).val();
        var handleurl = {link saveNewTraining!} + "&kalendar-day="+day+"&kalendar-time_id="+time_id+"&kalendar-trening_nazov="+value;
        $.ajax({
          url: handleurl
        }).done(function() {
            location.reload();
        });
    });

});
</script>
<style>
table .chosen-single {
    max-width: 120px;
}
</style>

{ifset $show_trening_edit}
    {control treningEdit}
{/ifset}

<section id="calendar" class="tile color transparent-black col-md-12">
<!-- tile header -->
<div class="tile-header">
<!--<h1>{$week_number}. týždeň</h1>-->
<div class="controls">
  <div class="cal-header">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs cal-options">
            <div class="date-info">
              <h2 class="text-center">
                <a n:href="change! $previous_week->format('Y-m-d')"><i class="fa fa-angle-left pull-left" id="cal-prev"></i></a>
                <span id="cal-current-date">{$range_data}</span>
                <a n:href="change! $next_week->format('Y-m-d')"><i class="fa fa-angle-right pull-right" id="cal-next"></i></a>
              </h2>
            </div>
        </ul>
      </div>
</div>
</div>
<!-- /tile header -->

<!-- tile body -->
<div class="tile-body nopadding">

<table class="table table-striped">
  <thead>
    <tr>
        <th class="col-sm-1"></th>
        <th n:foreach="$data as $key => $day">
            <b>{$day['day']}</b>
        </th>
    </tr>
  </thead>
  <tbody>
    <tr n:foreach="$training_times as $time">
        <td class="hidden-xs">{$time->cas_od} - {$time->cas_do}</td>

        <td n:foreach="$data as $key => $day">
            {if array_key_exists('training_times_id-'.$time->id, $day['treningy'])}
                {var $trening = $day['treningy']['training_times_id-'.$time->id]}
            {else}
                {var $trening = null}
            {/if}
            <div class="input-group margin-bottom-20">
                <span class="input-group-btn">
                    {if $trening}
                    <a n:href="readTraining! $trening['id']" class="btn btn-success"><i class="fa fa-edit"></i></a>
                    {else}
                    <a class="btn btn-primary"><i class="fa fa-edit"></i></a>
                    {/if}
                </span>
                <select class="chosen-select chosen-transparent form-control" data-day="{$key}" data-time-id="{$time->id}">
                    <option>...</option>
                    <option n:foreach="$training_types as $typ" value="{$typ['nazov']}" {if $trening}{if $trening['nazov'] == $typ['nazov']}selected{/if}{/if}>{$typ['nazov']}</option>
                </select>
				{if $trening}
				<span class="input-group-btn">
					{if $trening->zrusena_instancia} 
						<a class="btn btn-warning" title="Tento tréning bol zrušený"><i class="fa fa-exclamation-triangle"></i></a>
					{else}
						<a n:href="cancelSingleTraining! $trening['id']" class="btn btn-danger" title="Zrušiť jeden tréning"><i class="fa fa-times"></i></a>
					{/if}
                </span>
				{/if}
            </div>
        </td>
    </tr>
  </tbody>
</table>

</div>
<!-- /tile body -->




</section>