<script type="text/javascript">

    $(document).ready(function() {
        $('[data-toggle="popover"]').popover({
            placement: "bottom",
            html: "true",
            container: "body",
            trigger: "hover"
        });

        
        $(".calendar a.label-primary, .calendar a.label-warning, .calendar a.training").click(function () {
            var modal = $('#kalendar_modal');
            var link_res = {link reserve!}+"&kalendar-trening_id="+$(this).attr("data-id");
            var link_unres = {link unreserve!}+"&kalendar-trening_id="+$(this).attr("data-id");
            var link_login = {link login!};
            var is_filled = $(this).hasClass("filled");
            var is_cancelled = $(this).hasClass("cancelled");
            var handle = $(this).attr("data-handle");
            var submit = $('#kalendar_modal .modal-footer a.btn');
            var close = $('#kalendar_modal .modal-footer button.btn');
            var time = $(this).attr('data-time');
            var description = $(this).attr('data-description');
            var trainees_names = $(this).attr('data-trainees');
            var trainees_count = (trainees_names == "") ? 0 : trainees_names.split(',').length;
            var max_trainees = $(this).attr('data-max-trainees');
            var trainer = $(this).attr('data-trainer');
            var title = $(this).attr("data-original-title")+' <small>// '+time+'</small>';
            //var price = $(this).attr('data-price');


            close.removeClass('btn-danger').addClass('btn-default');
            submit.show();

            var text = "";
            text += "<p>" + description + "</p>";
            text += "<h4>Tréner</h4>";
            text += "<p>" + trainer + "</p>";

            text += "<h4>Počet prihlásených</h4>";
            var progress = (trainees_count/max_trainees)*100;
            var stav = trainees_count+'/'+max_trainees;
            var color;

            if (progress < 25) color = 'green'
            else if (progress >= 25 && progress < 60) color = 'greensea'
            else if (progress >= 60 && progress < 90) color = 'orange'
            else if (progress >= 90) color = 'red'


            text += '<div><div class="progress-info"><div class="percent">'+stav+'</div></div>';
            text += '<div class="progress progress-striped progress-thin active">';
            text += '<div class="progress-bar progress-bar-'+color+'" role="progressbar" style="width: '+progress+'%">';
            text += '<span class="sr-only">'+stav+'</span></div></div></div>';

            //text += "<h4>Cena</h4>";
            //text += "<p>" + price + " Skillierov</p>";
            {if $user->isLoggedIn()}
                if (trainees_names != "") {
                    text += "<h4>Zoznam prihlásených</h4>";

                    text += "<p>" + trainees_names + "</p>";
                }

                if (handle == "reserve")
                {
                    submit.text("Prihlásiť sa");
                    submit.attr('href', link_res);
                } else if (handle == "unreserve") {
                    submit.text("Odhlásiť sa");
                    submit.attr('href', link_unres);
                } else if (handle == "past") {
                    text += '<span class="label label-danger">Tréning prebieha alebo už skončil</span>';
                    submit.hide();
                } else if (handle == "cannotunreserve") {
                    //text += '<span class="label label-danger">Z tréningu sa nie je možné odhlásiť menej ako 3 hodiny pred začiatkom tréningu</span>';
                    submit.hide();
                } else if (handle == "cannotreserve") {
                    text += '<span class="label label-danger">Na tréning sa nie je možné prihlásiť menej ako 15 minút pred začiatkom tréningu</span>';
                    submit.hide();
                }
            {else}
                submit.text("Prihlásiť sa");
                text += '<span class="label label-danger">Pre rezerváciu tréningu sa musíte prihlásiť</span>';
                submit.attr('href', link_login);
            {/if}

            if (is_filled == true && handle != "past")
            {
                text += '<span class="label label-danger">Na tento tréning nie je možné sa zaregistrovať, pretože dosiahol svoju maximálnu kapacitu!</span>';

                if (handle != "unreserve")
                {
                    submit.hide();
                }
            }

            if (is_cancelled == true)
            {
                text += '<span class="label label-danger">Na tento tréning nie je možné sa zaregistrovať, pretože bol zrušený!</span>';
                submit.hide();
            }

            modal.find('.modal-body').html(text);
            modal.find('.modal-title').html(title);

            modal.modal('show');
            });
    });
</script>


<!-- Modal -->
<div class="modal" id="kalendar_modal" tabindex="-1" role="dialog" aria-labelledby="modalDialogLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">Zavrieť</button>
                <h3 class="modal-title" id="modalDialogLabel"><strong>Modal</strong> title</h3>
            </div>
            <div class="modal-body">
                <p>One fine body…</p>
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-primary">Prihlásiť</a>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<section class="calendar tile color transparent-black col-md-12 visible-md visible-lg">
    <!-- tile header -->
    <div class="tile-header">
        <div class="controls">
            <div class="cal-header">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs cal-options">
                    <div class="date-info">
                        <h2 class="text-center">
                            <a n:href="change! $previous_week->format('Y-m-d')"><i class="fa fa-angle-left pull-left" id="cal-prev"></i></a>
                            <span id="cal-current-date">{$range_data_week}</span>
                            <a n:href="change! $next_week->format('Y-m-d')"><i class="fa fa-angle-right pull-right" id="cal-next"></i></a>
                        </h2>
                    </div>
                </ul>
            </div>
        </div>
    </div>
    <!-- /tile header -->

    <!-- tile body -->
    <div class="tile-body nopadding">
        <div class="col-md-6">
            <div class="col-md-3" class="times">
                <div class="cell"></div>
                <div class="cell" n:foreach="$training_times as $time">{$time->cas_od} - {$time->cas_do}</div>
            </div>
            {var $today = -3}
        {for $i = 0; $i < 7; $i++}
            <div class="col-md-3 {if $data[$i]['today']}{var $today = $i}today{/if}">
                <div class="cell">{$data[$i]['day']}</div>
                {foreach $training_times as $time}
                    {if array_key_exists('training_times_id-'.$time->id, $data[$i]['treningy'])}
                        {var $trening = $data[$i]['treningy']['training_times_id-'.$time->id]}
                        {var $handle = ""}
                        {var $d = clone $trening['termin_od']}
                        {var $modify = ($trening['prihlaseny_na_trening']) ? $deadline_odhlasenie : $deadline_prihlasenie}
                        {if $trening['termin_od'] < new DateTime()}
							{var $handle = "past"}
						{elseif !$trening['prihlaseny_na_trening'] && $d->modify('-'. $modify . ' minutes') < new DateTime()}
							{var $handle = "cannotreserve"}
						{else}
							{var $handle = ($trening['prihlaseny_na_trening']) ? 'unreserve' : 'reserve'}    
						{/if}
                        <div class="cell{if $trening['prihlaseny_na_trening']} reserved{/if}{if $trening['termin_od'] < new DateTime()} past{/if}">
                            <a href="#" class="training{if $trening['cvicencov'] == $trening['max_pocet']} filled{/if}{if ($trening['zruseny'] == 1) || ($trening['zrusena_instancia'] == 1)} cancelled{/if}" data-price="{$trening['kredity']}" data-original-title="{$trening['nazov']}" data-id="{$trening['id']}" data-handle="{$handle}" data-time="{$trening['termin_od']->format('d.m.Y, H:i')} - {$trening['termin_do']->format('H:i')}" data-description="{$trening['popis']}" data-trainees="{$trening['cvicenci']}" data-max-trainees="{$trening['max_pocet']}" data-trainer="{$trening->trener}">{$trening['nazov']}
                            </a>
                        </div>
                    {else}
                        <div class="cell"></div>
                    {/if}
                {/foreach}
            </div>
            {if $i == 2 && count($data) > 3}
        </div>
        <div class="col-md-6">
            {/if}
        {/for}
        </div>
</section>

<section class="calendar tile color transparent-black col-sm-12 visible-sm">
    <!-- tile header -->
    <div class="tile-header">
        <div class="controls">
            <div class="cal-header">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs cal-options">
                    <div class="date-info">
                        <h2 class="text-center">
                            <a n:href="change! $previous_3days"><i class="fa fa-angle-left pull-left" id="cal-prev"></i></a>
                            <span id="cal-current-date">{$range_data_3days}</span>
                            <a n:href="change! $next_3days"><i class="fa fa-angle-right pull-right" id="cal-next"></i></a>
                        </h2>
                    </div>
                </ul>
            </div>
        </div>
    </div>
    <!-- /tile header -->

    <!-- tile body -->
    <div class="tile-body nopadding">
        <div class="col-sm-12">
            <div class="col-sm-3" class="times">
                <div class="cell"></div>
                <div class="cell" n:foreach="$training_times as $time">{$time->cas_od} - {$time->cas_do}</div>
            </div>
            {var $firstday = -1}
        {for $i = 0; $i < count($data); $i++}
            {continueIf !$data[$i]['firstday'] && $firstday < 0}
            {if $data[$i]['firstday']}
                {var $firstday = $i}
            {/if}
                
            {if $firstday == $i || $firstday + 1 == $i || $firstday + 2 == $i}
                <div class="col-sm-3 {if $today == $i}today{/if}">
                    <div class="cell">{$data[$i]['day']}</div>
                    {foreach $training_times as $time}
                        {if array_key_exists('training_times_id-'.$time->id, $data[$i]['treningy'])}
                            {var $trening = $data[$i]['treningy']['training_times_id-'.$time->id]}
                            {var $handle = ""}
                            {var $d = clone $trening['termin_od']}
                            {var $modify = ($trening['prihlaseny_na_trening']) ? $deadline_odhlasenie : $deadline_prihlasenie}
                            {if $trening['termin_od'] < new DateTime()}
								{var $handle = "past"}
							{elseif !$trening['prihlaseny_na_trening'] && $d->modify('-'. $modify . ' minutes') < new DateTime()}
								{var $handle = "cannotreserve"}
							{else}
								{var $handle = ($trening['prihlaseny_na_trening']) ? 'unreserve' : 'reserve'}    
							{/if}
                            <div class="cell{if $trening['prihlaseny_na_trening']} reserved{/if}{if $trening['termin_od'] < new DateTime()} past{/if}">
								<a href="#" class="training{if $trening['cvicencov'] == $trening['max_pocet']} filled{/if}{if ($trening['zruseny'] == 1) || ($trening['zrusena_instancia'] == 1)} cancelled{/if}" data-price="{$trening['kredity']}" data-original-title="{$trening['nazov']}" data-id="{$trening['id']}" data-handle="{$handle}" data-time="{$trening['termin_od']->format('d.m.Y, H:i')} - {$trening['termin_do']->format('H:i')}" data-description="{$trening['popis']}" data-trainees="{$trening['cvicenci']}" data-max-trainees="{$trening['max_pocet']}" data-trainer="{$trening->trener}">{$trening['nazov']}
								</a>
							</div>
                        {else}
                            <div class="cell"></div>
                        {/if}
                    {/foreach}
                </div>
            {/if}
        {/for}
        </div>
    </div>
</section>

<section class="calendar tile color transparent-black col-xs-12 visible-xs">
    <!-- tile header -->
    <div class="tile-header">
        <div class="controls">
            <div class="cal-header">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs cal-options">
                    <div class="date-info">
                        <h2 class="text-center">
                            <a n:href="change! $previous_day"><i class="fa fa-angle-left pull-left" id="cal-prev"></i></a>
                            <span id="cal-current-date">{$range_data_day}</span>
                            <a n:href="change! $next_day"><i class="fa fa-angle-right pull-right" id="cal-next"></i></a>
                        </h2>
                    </div>
                </ul>
            </div>
        </div>
    </div>
    <!-- /tile header -->

    <!-- tile body -->
    <div class="tile-body nopadding">
        <div class="col-xs-12">
            <div class="col-xs-6" class="times">
                <div class="cell"></div>
                <div class="cell" n:foreach="$training_times as $time">{$time->cas_od} - {$time->cas_do}</div>
            </div>
            {var $firstday = -1}
        {for $i = 0; $i < count($data); $i++}
            {continueIf !$data[$i]['firstday'] && $firstday < 0}
            {if $data[$i]['firstday']}
                {var $firstday = $i}
            {/if}
                
            {if $firstday == $i}
                <div class="col-xs-6 {if $today == $i}today{/if}">
                    <div class="cell">{$data[$i]['day']}</div>
                    {foreach $training_times as $time}
                        {if array_key_exists('training_times_id-'.$time->id, $data[$i]['treningy'])}
                            {var $trening = $data[$i]['treningy']['training_times_id-'.$time->id]}
                            {var $handle = ""}
                            {var $d = clone $trening['termin_od']}
                            {var $modify = ($trening['prihlaseny_na_trening']) ? $deadline_odhlasenie : $deadline_prihlasenie}
                            {if $trening['termin_od'] < new DateTime()}
                                {var $handle = "past"}
							{elseif !$trening['prihlaseny_na_trening'] && $d->modify('-'. $modify . ' minutes') < new DateTime()}
								{var $handle = "cannotreserve"}
                            {else}
                                {var $handle = ($trening['prihlaseny_na_trening']) ? 'unreserve' : 'reserve'}    
                            {/if}
                            <div class="cell{if $trening['prihlaseny_na_trening']} reserved{/if}{if $trening['termin_od'] < new DateTime()} past{/if}">
								<a href="#" class="training{if $trening['cvicencov'] == $trening['max_pocet']} filled{/if}{if ($trening['zruseny'] == 1) || ($trening['zrusena_instancia'] == 1)} cancelled{/if}" data-price="{$trening['kredity']}" data-original-title="{$trening['nazov']}" data-id="{$trening['id']}" data-handle="{$handle}" data-time="{$trening['termin_od']->format('d.m.Y, H:i')} - {$trening['termin_do']->format('H:i')}" data-description="{$trening['popis']}" data-trainees="{$trening['cvicenci']}" data-max-trainees="{$trening['max_pocet']}" data-trainer="{$trening->trener}">{$trening['nazov']}
								</a>
							</div>
                        {else}
                            <div class="cell"></div>
                        {/if}
                    {/foreach}
                </div>
            {/if}
        {/for}
        </div>
</section>

<script type="text/javascript">
$('.modal-dialog').parent().on('show.bs.modal', function(e){
	$('#kalendar_modal').appendTo('body');
});
</script>
