<style>
table .chosen-single {
    max-width: 120px;
}
</style>

{ifset $show_trening_edit}
    {control treningEdit}
{/ifset}

<section id="calendar" class="tile color transparent-black col-md-12">

<!-- tile body -->
<div class="tile-body nopadding">

<table class="table table-striped">
  <thead>
    <tr>
        <th class="col-sm-1"></th>
        <th n:foreach="$data as $key => $day">
            <b>{$day['day']}</b>
        </th>
    </tr>
  </thead>
  <tbody>
    <tr n:foreach="$training_times as $time">
        <td class="hidden-xs">{$time->cas_od} - {$time->cas_do}</td>

        <td n:foreach="$data as $key => $day">
            {if array_key_exists('training_times_id-'.$time->id, $day['treningy'])}
                {var $trening = $day['treningy']['training_times_id-'.$time->id]}
            {else}
                {var $trening = null}
            {/if}
            <div class="margin-bottom-20">
				{if $trening['nazov'] != ""}
					<a href="#" class="pack-training" data-day="{$key}" data-time-id="{$time->id}">{$trening['nazov']}</a>
				{else}
					<a href="#" class="pack-training" data-day="{$key}" data-time-id="{$time->id}">...</a>
				{/if}
            </div>
        </td>
    </tr>
  </tbody>
</table>

</div>
<!-- /tile body -->

</section>

<script type="text/javascript">

$(document).ready(function() {
	var trainings = $.parseJSON($("#trainings").val());
	for (var i = 0; i < trainings.length; i++) {
		$(".pack-training[data-day='" + trainings[i].day + "'][data-time-id='" + trainings[i].timeId + "']:not(.disabled)").addClass("selected");
	}
	updateTrainings();
});

function updateTrainings() {
	var trainings = [];
	var selectedElements = $(".pack-training.selected");
	selectedElements.each(function() {
		trainings.push({ day: $(this).data('day'), timeId: $(this).data('time-id')});
	});
	$("#trainings").val(JSON.stringify(trainings));
}

$(document).on("click", ".pack-training", function(e) {
	e.preventDefault();
	if ($(this).hasClass("disabled")) return false;
	$(this).toggleClass("selected");
	updateTrainings();
	return false;
});

</script>