{block #pagestyles}
   
<link href="{$basePath}/js/pirobox/css_pirobox/style_1/style.css" rel="stylesheet" type="text/css" />
<!--<link rel="stylesheet" type="text/css" href="{$basePath}/js/pirobox/css/css.css"/>-->
<link rel="stylesheet" type="text/css" href="{$basePath}/js/pirobox/content/css/default.css" />
<link rel="stylesheet" type="text/css" href="{$basePath}/js/pirobox/css/sansation/stylesheet.css" />
<link rel="stylesheet" type="text/css" href="{$basePath}/js/vendor/superbox/css/style.css" />
{/block}

{block #pagescripts}
   
<script type="text/javascript" src="{$basePath}/js/vendor/superbox/superbox.min.js"></script>
<script type="text/javascript" src="{$basePath}/js/pirobox/js/jquery-ui-1.8.2.custom.min.js"></script>
<script type="text/javascript" src="{$basePath}/js/pirobox/js/pirobox_extended.js"></script>

{/block}

{block content}

<!-- page header -->
<div class="pageheader">
    <h2><i class="fa fa-picture-o" style="line-height: 48px; padding-left: 2px;"></i> Galéria</h2>
</div>
<!-- /page header -->
<!-- content main container -->
<div class="main">
    <!-- row -->
    <div class="row">
        <!-- col 12 -->
        <div class="col-md-12">
            <section class="tile color transparent-black" id="superbox-gallery">


                <!-- tile body -->
                <div class="tile-body superbox rounded-bottom-corners" id="gallery-container">
                {for $i = 1; $i <= 15; $i++}
                    <div class="superbox-list img-view image">
                        <a href="{$basePath}/images/priestor/{$i}.jpg" class="pirobox_gall1" rel="iframe-615-411">
                        <img src="{$basePath}/images/priestor/{$i}.jpg" data-img="priestor-{$i}"></a>
                    </div>
                {/for}
                </div>
                <!-- /tile body -->
            </section>
        </div>
        <!-- /col 12 -->
    </div>
    <!-- /row -->
</div>
<!-- /content container -->
<script type="text/javascript">
	$().piroBox_ext({
        piro_speed : 900,
        bg_alpha : 0.1,
        piro_scroll : true //pirobox always positioned at the center of the page
    });
</script>