{block content}

<!-- page header -->
<div class="pageheader">
<a n:href="Kredity:default"><h2><i class="fa fa-file-o" style="line-height: 48px;padding-left: 2px;"></i> Balíky</h2></a>
</div>
<!-- /page header -->

<!-- content main container -->
<div class="main">

    <section class="tile color transparent-white">

      <!-- tile body -->
      <div class="tile-body">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12">
				{form form}
				<div class="form-group required">
					<div class="col-sm-3 control-label">
						{label name /}
					</div>
					<div class="col-sm-9">
						{input name}
					</div>
				</div>
				<div class="form-group required">
					<div class="col-sm-3 control-label">
						{label training_count /}
					</div>
					<div class="col-sm-9">
						{input training_count}
					</div>
				</div>
				<div class="form-group required">
					<div class="col-sm-3 control-label">
						{label start_date /}
					</div>
					<div class="col-sm-9">
						{input start_date}
					</div>
				</div>
				<div class="form-group required">
					<div class="col-sm-3 control-label">
					</div>
					<div class="col-sm-9">
						{input submit class => 'btn btn-greensea'}
					</div>
				</div>
				{/form}
            </div>
        </div>
      </div>
      <!-- /tile body -->

    </section>
	
	{control kalendar}
</div>
<!-- /content container -->
<script type="text/javascript">
	
$('.daterange').datepicker({
	format: "yyyy/mm/dd"
});
</script>