{block content}

<!-- page header -->
<div class="pageheader">
<a n:href="default"><h2><i class="fa fa-th" style="line-height: 48px;padding-left: 2px;"></i> Rozvrh</h2></a><br />
<a n:href="TreningType:" class="btn btn-default">Typy tréningov</a>
<a n:href="TreningTimes:" class="btn btn-default">Časy rozvrhu</a>
<a n:href="renewSchedule! $lastWeek->format('Y-m-d')" class="btn btn-default">Prekopírovať minulotýždenný rozvrh</a>
</div>
<!-- /page header -->






<!-- content main container -->
<div class="main">




<!-- row -->
<div class="row">

  <!-- col 12 -->
  <div class="col-md-12">

  </div>
  <!-- /col 12 -->

</div>
<!-- /row -->


{control kalendar}

</div>
<!-- /content container -->