{block content}

<!-- page header -->
<div class="pageheader">
<a n:href="default"><h2><i class="fa fa-th" style="line-height: 48px;padding-left: 2px;"></i> Tréning - odhlásiť cvičenca</h2></a><br />
<a n:href="TreningType:" class="btn btn-default">Typy tréningov</a>
<a n:href="TreningTimes:" class="btn btn-default">Časy rozvrhu</a>
</div>
<!-- /page header -->






<!-- content main container -->
<div class="main">




<!-- row -->
<div class="row">

  <!-- col 6 -->
  <div class="col-md-6">

    <p>Naozaj chceš odhlásiť tohto cvičenca z tréningu?</p>

    <section class="tile color transparent-black">
      <!-- tile body -->
      <div class="tile-body">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12">
            <table class="table">
              <tr>
                <td>Názov tréningu</td>
                <td>{$trening->nazov} ({$trening->termin_od})</td>
              </tr>
              <tr>
                <td>Cvičenec</td>
                <td>{$trainee->meno} {$trainee->priezvisko}</td>
              </tr>
              <tr>
                <td></td>
                <td>
                  <a n:href="confirmUnregisterTrainee! $trening->id, $trainee->profile_id" class="btn btn-primary">Odhlásiť cvičenca z tréningu</a>
                </td>
              </tr>
            </table>
            </div>
        </div>
      </div>
      <!-- /tile body -->
    </section>

  </div>
  <!-- /col 6 -->

</div>
<!-- /row -->




</div>
<!-- /content container -->