
{block content}

<div class="row">
  <div class="col-md-12">
    <div class="page-heading">
      <h1>Nákup skillierov</h1>
    </div>
  </div>
</div>

<!--row start-->
<div class="row">
  <!--col-md-6 start-->
  <div class="col-md-6">
  <!--box-info start-->
    <div class="box-info">
    <h3>Objednávka</h3>
      <hr>
        <div class="panel-body">
              {form form class => "form-horizontal"}
                  <div class="form-group">
                    {label uhrada class => "col-sm-3 control-label" /}
                    <div class="col-sm-9">
                      <div class="radio">
                        {input uhrada}
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    {label produkt class => "col-sm-3 control-label" /}
                    <!--col-sm-9 start-->
                    <div class="col-sm-9">
                        {input produkt class => 'form-control'}
                    </div>
                    <!--col-sm-9 end-->
                  </div>

                  <div class="form-group">
                      <div class="col-lg-offset-3 col-lg-10">
                          {input submit class => "btn-danger btn"}
                      </div>
                  </div>
              {/form}
          </div>
    </div>
  </div>

  <!--col-md-6 start-->
  <div class="col-md-6">
  <!--box-info start-->
    <div class="box-info">
    <h3>Informácie</h3>
      <hr>
            Vyber si produkt, ktorý si chceš zakúpiť. Platba je možná prostredníctvom platobných kariet cez PayPal - najbezpečnejší platobný systém na svete, alebo prevodom na náš účet (osobne, alebo cez internet banking).

            <p>
                V prípade platby kartou ti budú skilliere pripočítané okamžite a automaticky. Pri vklade peňazí v pobočke Tatra Banky, alebo prevode peňazí v rámci Tatra Banky ti budú skilliere pripísané pravdepodobne ešte v deň platby. V ostatných prípadoch trvajú prevody dlhšie a pripísanie skillierov môže trvať aj 2-3 dni.
            </p>

            <p>
                Číslo účtu: <strong>2923897521 / 1100</strong> <br/> Variabilný symbol <strong>42926691</strong>
            </p>

            <p>
                Tvoje kredity budú platné 3 mesiace od ich pripísania na tvoje konto.
            </p>
    </div>
  </div>

</div>
