{block #pagestyles}
    <link href="{$basePath}/js/pirobox/css_pirobox/style_1/style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="{$basePath}/js/pirobox/content/css/default.css"/>
    <link rel="stylesheet" type="text/css" href="{$basePath}/js/pirobox/css/sansation/stylesheet.css"/>
{/block}

{block #pagescripts}
    <script type="text/javascript" src="{$basePath}/js/pirobox/js/jquery-ui-1.8.2.custom.min.js"></script>
    <script type="text/javascript" src="{$basePath}/js/pirobox/js/pirobox_extended.js"></script>
    <script type="text/javascript" src="{$basePath}/js/pirobox/js/video_galery.js"></script>
{/block}

{block content}

<!-- page header -->
<div class="pageheader">
<h2><i class="fa fa-file-o" style="line-height: 48px;padding-left: 2px;"></i> Blank Page <span>// Place subtitle here...</span></h2>


<div class="breadcrumbs">
  <ol class="breadcrumb">
    <li>You are here</li>
    <li><a href="index.html">Minimal</a></li>
    <li><a href="#">Example Pages</a></li>
    <li class="active">Blank Page</li>
  </ol>
</div>


</div>
<!-- /page header -->






<!-- content main container -->
<div class="main">



<!-- row -->
<div class="row">

  <!-- col 12 -->
  <div class="col-md-12">

  </div>
  <!-- /col 12 -->

     

</div>
<!-- /row -->
<div id="results">
</div>

</div>
<!-- /content container -->