{block contentClasses}
full-page login
{/block}

{block content}



  <div class="inside-block col-md-4 col-sm-6">
    <h1><strong>Prihlásenie</strong></h1>

    {form loginForm class => 'form-signin'}
      <section>
        <div class="input-group">
            {input login class => 'form-control', placeholder => 'E-mail' }
          <div class="input-group-addon"><i class="fa fa-user"></i></div>
        </div>
        <div class="input-group">
            {input pass class => 'form-control', placeholder => 'Heslo' }
          <div class="input-group-addon"><i class="fa fa-key"></i></div>
        </div>
      </section>
      <section class="controls">
        <div class="checkbox check-transparent">
          <input type="checkbox" name="remember" value="1" id="frm-loginForm-remember" checked>
          <label for="frm-loginForm-remember">Zapamätaj si ma</label>
        </div>
        <a n:href="Authenticate:Lost"> Zabudol som heslo</a>
      </section>
      <section class="log-in">
        {input submit class => 'btn btn-greensea'}
        <a n:href="Authenticate:Register" class="btn btn-slategray">Registrácia</a>
      </section>
    {/form}
  </div>