{block contentClasses}
full-page login
{/block}

{block content}
  <div class="inside-block col-md-4 col-sm-6">
    <h1><strong>Obnova hesla</strong></h1>

    {form lostPwForm class => 'form-signin'}
      <section class="controls">
        Ak si zabudol svoje heslo, zadaj do formulára tvoj registračný e-mail a my ti vygenerujeme nové, aby si sa mohol prihlásiť.
      </section>
      <section>
        <div class="input-group">
            {input email class => 'form-control', placeholder => 'E-mail' }
          <div class="input-group-addon"><i class="fa fa-user"></i></div>
        </div>
      </section>
      <section class="log-in">
        {input submit class => 'btn btn-greensea'}
      </section>
    {/form}
  </div>