{block content}

<script type="text/javascript">
    $(document).ready(function () {
        $('input').focus(function () {
            var target = $(this).attr('id');
            $('#info').hide();
            $(".right-column").hide();
            $('.infobox').each(function () {
                if (jQuery.inArray(target, $(this).attr('rel').split(' ')) != -1) {
                    $(this).show();
                    $(".right-column").show();
                } else {
                    $(this).hide();
                }
            });
        });
        $('#more_info').click(function () {
            $('.infobox').hide();
            $('#info').show();
            $(".right-column").show();
        });
    });
</script>

<div class="main">

    <!-- row -->
    <div class="row">

        <div class="col-md-6">
            <section class="tile color transparent-white rounded-corners">
                <div class="tile-header">
                    <h2><strong>Registrácia</strong></h2>
                </div>
                <div class="tile-body">
                    
                    {form registerForm class => 'form-horizontal'}

                        <div class="err-msg red fwb m20" n:if="$form->hasErrors()">
                            <ul class="errors">
                                <li n:foreach="$form->errors as $error">{$error}</li>
                            </ul>
                        </div>
                    <div class="form-group">
                        {label meno class => 'col-sm-3 control-label' /}
                            <div class="col-sm-9">{input meno class => 'form-control'}</div>
                    </div>
                    <div class="form-group">
                        {label priezvisko class => 'col-sm-3 control-label' /}
                            <div class="col-sm-9">{input priezvisko class => 'form-control'}</div>
                    </div>
                    <div class="form-group">
                        {label login class => 'col-sm-3 control-label' /}
                            <div class="col-sm-9">{input login class => 'form-control'}</div>
                    </div>
                    <div class="form-group">
                        {label password class => 'col-sm-3 control-label' /}
                            <div class="col-sm-9">{input password class => 'form-control'}</div>
                    </div>
                    <div class="form-group">
                        {label password2 class => 'col-sm-3 control-label' /}
                            <div class="col-sm-9">{input password2 class => 'form-control'}</div>
                    </div>
                    <div class="form-group">
                        {label ulica class => 'col-sm-3 control-label' /}
                            <div class="col-sm-9">{input ulica class => 'form-control'}</div>
                    </div>
                    <div class="form-group">
                        {label mesto class => 'col-sm-3 control-label' /}
                            <div class="col-sm-9">{input mesto class => 'form-control'}</div>
                    </div>
                    <div class="form-group">
                        {label psc class => 'col-sm-3 control-label' /}
                            <div class="col-sm-9">{input psc class => 'form-control'}</div>
                    </div>
                    <div class="form-group">
                        {label podmienky: class => 'col-sm-3 control-label' /}
                            <div class="col-sm-9">{input podmienky: style => 'margin: 10px 15px 0 0'}&nbsp;<a id="more_info" class="red" href="#">Viac informácií</a></div>
                    </div>
                    <div class="form-group">
                        {label odporucil class => 'col-sm-3 control-label' /}
                            <div class="col-sm-9">{input odporucil class => 'form-control'}</div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            {input submit class => 'btn btn-primary'}
                        </div>
                    </div>

                    {/form}
                </div>
            </section>
        </div>
        <div class="col-md-6">
            <section class="tile color transparent-black rounded-corners right-column" style="display: none;">
                <div class="tile-body">
                    <div class='infobox' rel="frm-registerForm-meno" style="display: none;">Zadaj svoje pravé meno (nie prezývku).</div>
                    <div class='infobox' rel="frm-registerForm-priezvisko" style="display: none;">Zadaj svoje pravé priezvisko (nie prezývku).</div>
                    <div class='infobox' rel="frm-registerForm-heslo frm-registerForm-heslo2" style="display: none;">Heslo, ktoré budeš používať na prihlásenie do systému</div>
                    <div class='infobox' rel="frm-registerForm-podmienky" style="display: none;">Dôkladne si prečítaj čo je napísané v našich podmienkach o navštevovaní tréningov v No Will No Skill Academy.</a></div>
                    <div class='infobox' rel="frm-registerForm-email" style="display: none;">Sem uveď tvoju emailovú adresu, ktorú používaš najčastejšie. Na ňu ti zašleme potvrdenie o registrácií a ďalšie potrebné informácie.</div>
                    <div class='infobox' rel="frm-registerForm-adresa frm-registerForm-mesto frm-registerForm-psc frm-registerForm-ulica" style="display: none;">Prosím uveď tvoju celú adresu bydliska - mesto, ulicu, číslo domu a PSČ. Potrebujeme ju kvôli vystaveniu faktúry.</div>
                    <div class='infobox' rel="frm-registerForm-odporucil" style="display: none;">Od koho si sa o No Will No Skill Academy dozvedel /-a? Ak to bola osoba, uveď prosím jej meno. Ak to bola iná informácia, napíš nám aká (leták, web, iné). Ďakujeme.</div>

                    <div id="info" style="display: none;">
                        <p style="text-align: center;"><b>PREHLÁSENIE o návšteve študijných programov v telocvični No Will No Skill Academy Bratislava</b></p>

                        <p>Svojim súhlasom a online registráciou potvrdzuješ že sa stávaš členom No Will No Skill Academy a súhlasíš s nasledovnými podmienkami:</p>

                        <ul>
							<li>Tvoja emailová adresa bude pridaná do nášho newsletteru, kde budeš dostávať vždy aktuálne novinky z Akadémie, prípadne udalostí a iných záležitostí týkajúcich sa No Will No Skill. Z tohto newsletteru sa môžeš hocikedy odhlásiť.</li>
							<li>Súhlasíš s prípadným zverejnením foto- a video-záznamov z tréningov v Akadémií, na ktorých sa zúčastníš.</li>
							<li>Všetky údaje, ktoré si uviedol v registračnom formulári sú pravdivé a súhlasíš s ich uchovaním v našej databáze za účelom registrácie a evidencie tréningov.</li>
							<li>Cvičíš vždy na vlastnú zodpovednosť.</li>
							<li>Na tréningy sa treba registrovať vždy vopred cez náš rezervačný systém. Ak prídeš na tréning bez prihlásenia, tréner má právo ťa k tréningu nepripustiť.</li>
							<li>K dispozícií sú odkladacie skrinky aj so zámkami, no za veci odložené v priestoroch Akadémie nenesieme hmotnú zodpovednosť.</li>
							<li>Tréner si vyhradzuje právo žiadať od svojich členov úhradu za spôsobené škody vprípade, že poškodia majetok Akadémie, alebo poškodia majetok jeho či iných členov Akadémie.</li>
						</ul>



						<p><b>V prípade ďalších otázok nás neváhaj kontaktovať</b> na email <a href='mailto:kontakt@nowillnoskill.academy' title='Emailova adresa'>kontakt@nowillnoskill.academy</a> </p>

                    </div>
                </div>
            </section>
        </div>

    </div>
    <!-- /row -->

</div>
