<div class="navbar navbar-default navbar-fixed-top navbar-transparent-black mm-fixed-top" role="navigation" id="navbar">
  <div class="navbar-header col-md-2">

  </div>


  <!-- .nav-collapse -->
  <div class="navbar-collapse">



    <!-- Quick Actions -->
    <ul class="nav navbar-nav quick-actions">



    {if $user->isLoggedIn() == true}
		{if isset($season_ticket) && $season_ticket->valid_until > new DateTime() && $season_ticket->penalties < 3}
		<li>
			<a n:href=":User:Coins:" title="Permanentka platná do {$season_ticket->valid_until->format('d.m.Y')}">
				<i class="fa fa-calendar"></i>&nbsp;&nbsp;{$season_ticket->valid_until->format('d.m.Y')}
			</a>
		</li>
			{if $season_ticket->penalties > 0}
			<li>
				<a n:href=":User:Coins:" title="Počet červených bodov: {$season_ticket->penalties}" class="penalties">
					<i class="fa fa-circle"></i>
					<i class="fa fa-circle{if $season_ticket->penalties != 2}-o{/if}"></i>
				</a>
			</li>
			{/if}
		{/if}
      <li>
        <a n:href=":User:Coins:">
          <i class="fa fa-usd"></i>
          {$pocet_skilliers}
        </a>
      </li>
      <li class="dropdown divided user" id="current-user">
        <a class="dropdown-toggle options" data-toggle="dropdown" href="#">
			{if $premium}<i title="Skalný Skiller" class="fa fa-shield"></i>{/if}
			{$meno} <i class="fa fa-caret-down"></i>
        </a>

        <ul class="dropdown-menu arrow settings">
          <li><a n:href=":User:Profile:"><i class="fa fa-user"></i> Profil</a></li>
          <li><a n:href=":User:Transactions:"><i class="fa fa-exchange"></i> Transakcie</a></li>
          <li><a n:href=":User:Coins:"><i class="fa fa-usd"></i> Nákup</a></li>

          <li class="divider"></li>

          <li><a n:href=":Front:Authenticate:logout"><i class="fa fa-sign-out"></i> Odhlásiť sa</a></li>
        </ul>
      </li>
    {else}
        <li><a n:href=":Front:Authenticate:"><i class="fa fa-user"></i> Prihlásiť</a></li>
    {/if}

    </ul>
    <!-- /Quick Actions -->

    <!-- Sidebar -->
    {include '@menu.latte'}
    <!-- Sidebar end -->

  </div>
  <!--/.nav-collapse -->

</div>