<!DOCTYPE html>
<html>
  <head>
    <title>{ifset $title}{$title} - {/ifset}No Will No Skill Academy</title>
    <meta charset="utf-8" />
    <meta name="description" content="Prvá Akadémia pohybu v Bratislave. " />
    <meta name="keywords" content="movement, open gym, workout, bratislava, capoeira, calisthenics" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/ico" href="{$basePath}/images/favicon.png" />

    <link href="{$basePath}/css/vendor/bootstrap/bootstrap.min.css?{$version}" rel="stylesheet">
    <link href="{$basePath}/css/font-awesome.min.css?{$version}" rel="stylesheet">
    <link rel="stylesheet" href="{$basePath}/css/vendor/animate/animate.css?{$version}">
    <link type="text/css" rel="stylesheet" media="all" href="{$basePath}/js/vendor/mmenu/css/jquery.mmenu.all.css?{$version}" />
    <link rel="stylesheet" href="{$basePath}/css/vendor/bootstrap-checkbox.css?{$version}">
    <link rel="stylesheet" href="{$basePath}/css/vendor/bootstrap/bootstrap-dropdown-multilevel.css?{$version}">
    <link rel="stylesheet" href="{$basePath}/js/vendor/chosen/css/chosen.min.css?{$version}">
    <link rel="stylesheet" href="{$basePath}/js/vendor/chosen/css/chosen-bootstrap.css?{$version}">
    <link rel="stylesheet" href="{$basePath}/js/vendor/datepicker/css/bootstrap-datetimepicker.css?{$version}">


    <link rel="stylesheet" href="{$basePath}/js/vendor/fullcalendar/fullcalendar.css?{$version}">
    <link rel="stylesheet" href="{$basePath}/js/vendor/colorpalette/bootstrap-colorpalette.css?{$version}">

    <link href="{$basePath}/css/minimal.css?{$version}" rel="stylesheet">
      {ifset #pagestyles}{include pagestyles}{/ifset}

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <script src="{$basePath}/js/jquery.js?{$version}"></script>
    <script src="{$basePath}/js/vendor/bootstrap/bootstrap.min.js?{$version}"></script>
    <script src="{$basePath}/js/vendor/bootstrap/bootstrap-dropdown-multilevel.js?{$version}"></script>
    <script type="text/javascript" src="{$basePath}/js/vendor/mmenu/js/jquery.mmenu.min.js?{$version}"></script>
    <script type="text/javascript" src="{$basePath}/js/vendor/sparkline/jquery.sparkline.min.js?{$version}"></script>
    <script type="text/javascript" src="{$basePath}/js/vendor/nicescroll/jquery.nicescroll.min.js?{$version}"></script>
    <script type="text/javascript" src="{$basePath}/js/vendor/animate-numbers/jquery.animateNumbers.js?{$version}"></script>
    <script type="text/javascript" src="{$basePath}/js/vendor/videobackground/jquery.videobackground.js?{$version}"></script>
    <script type="text/javascript" src="{$basePath}/js/vendor/blockui/jquery.blockUI.js?{$version}"></script>
    <script type="text/javascript" src="{$basePath}/js/vendor/chosen/chosen.jquery.min.js?{$version}"></script>
	  <script type="text/javascript" src="{$basePath}/js/vendor/chosen/chosen.jquery.min.js?{$version}"></script>
    <script type="text/javascript" src="{$basePath}/js/netteForms.min.js?{$version}"></script>

    <script src="https://cdn.rawgit.com/moment/moment/2.9.0/moment.js?{$version}"></script>
    <script src="https://cdn.rawgit.com/dangrossman/bootstrap-daterangepicker/v1.3.19/daterangepicker.js?{$version}"></script>
    <script src="{$basePath}/js/minimal.js?{$version}"></script>

    {ifset #pagescripts}{include pagescripts}{/ifset}
  </head>
  <body class="bg-1">
    <div class="mask"><div id="loader"></div></div>
    <div id="wrap">
      <div class="row">

        {include '@headpanel.latte'}

        <div id="content" class="col-md-12 {ifset #contentClasses}{include contentClasses}{/ifset}">
            {snippet flashMessages}
            <div n:foreach="$flashes as $flash" class="alert alert-{$flash->type}"> <span class="alert-icon"><i class="fa fa-comments-o"></i></span>
                {$flash->message}
            </div>
            {/snippet}
            {include content}
        </div>
      </div>
    </div>
    <script n:syntax="off">
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-19543194-5', 'auto');
      ga('send', 'pageview');

    </script>
  </body>
</html>
