<ul class="nav navbar-nav side-nav" id="sidebar">

    <li class="collapsed-content">
        <ul>
            <li class="search">
                <!-- Collapsed search pasting here at 768px -->
            </li>
        </ul>
    </li>

    <li class="navigation" id="navigation">
        <a n:href=":Front:Homepage:default" class="sidebar-toggle" data-toggle="#navigation">
            <!--Navigation <i class="fa fa-angle-up"></i>-->
        </a>

        <ul class="menu">

            <li class="dropdown">
                <a n:href=":Front:Homepage:aboutus" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-info-circle"></i>O nás <b class="fa fa-plus dropdown-plus"></b>
                </a>
                <ul class="dropdown-menu anchor">
                    <li>
                        <a n:href=":Front:Homepage:aboutus#co-robime" data-anchor="co-robime">
                            <i class="fa fa-caret-right"></i>Akadémia
                        </a>
                    </li>
                    {*<li>
                        <a n:href=":Front:Homepage:aboutus#koncept" data-anchor="koncept">
                            <i class="fa fa-caret-right"></i>Tréningy
                        </a>
                    </li>*}
                    <li>
                        <a n:href=":Front:Homepage:aboutus#nas-tim" data-anchor="nas-tim">
                            <i class="fa fa-caret-right"></i>Náš tím
                        </a>
                    </li>
                </ul>
            </li>
			
			<li>
                <a n:href=":Front:Homepage:koncept">
                    <i class="fa fa-university"></i>Koncept
                </a>
            </li>
            
			<li>
                <a n:href=":Front:Homepage:vyucba">
                    <i class="fa fa-graduation-cap"></i>Výučba
                </a>
            </li>

            <li>
                <a n:href=":Front:Rozvrh:">
                    <i class="fa fa-calendar"></i>Rozvrh
                </a>
            </li>

            <li>
                <a n:href=":Front:Galeria:">
                    <i class="fa fa-picture-o"></i>Galéria
                </a>
            </li>

            <li>
                <a n:href=":Front:Homepage:contact">
                    <i class="fa fa-envelope"></i>Kontakt
                </a>
            </li>

        </ul>

        <li class="social-icons">
            <a href="http://modernypraclovek.sk" target="_blank">
                <img class="nwns" height="28px" src="{$basePath}/images/logo_moderny_praclovek_final_biele.png" />
            </a>
            <a href="https://www.facebook.com/nowillnoskillacademy" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="https://www.youtube.com/user/NoWillNoSkill" target="_blank"><i class="fa fa-youtube"></i></a>
            <a href="https://instagram.com/marian.cerny/" target="_blank"><i class="fa fa-instagram"></i></a>
        </li>
    </li>

</ul>
