{block content}

<div class="inside-block login col-md-3 col-md-offset-4">
    <h1>Prihlásenie do RS</h1>
    {form login class => 'form-signin'}
      <section>
        <div class="input-group">
            {input login class => 'form-control', placeholder => 'Prihlasovacie meno' }
          <div class="input-group-addon"><i class="fa fa-user"></i></div>
        </div>
        <br />
        <div class="input-group">
            {input pass class => 'form-control', placeholder => 'Heslo' }
          <div class="input-group-addon"><i class="fa fa-key"></i></div>
        </div>
      </section>
      <section class="log-in">
        {input submit class => 'btn btn-greensea'}
      </section>
    {/form}
</div>