{block content}

<!-- page header -->
<div class="pageheader">
<h2><i class="fa fa-file-o" style="line-height: 48px;padding-left: 2px;"></i> Blank Page <span>// Place subtitle here...</span></h2>


<div class="breadcrumbs">
  <ol class="breadcrumb">
    <li>You are here</li>
    <li><a href="index.html">Minimal</a></li>
    <li><a href="#">Example Pages</a></li>
    <li class="active">Blank Page</li>
  </ol>
</div>


</div>
<!-- /page header -->






<!-- content main container -->
<div class="main">



<!-- row -->
<div class="row">

  <!-- col 12 -->
  <div class="col-md-12">

  </div>
  <!-- /col 12 -->

</div>
<!-- /row -->
{if count($clanky)}
{foreach $clanky as $clanok}
    <a n:href="Clanky:clanok $clanok['id']"><img src="{$clanok['image_url']}" alt="{$clanok['nazov']}" title="{$clanok['nazov']}"></a>
    <a n:href="Clanky:clanok $clanok['id']">{$clanok['nadpis']}</a>
    <a n:href="Clanky:clanok $clanok['id']">{$clanok['description']}</a>
    <p>Vytvorené: {? echo date('d.m.Y H:i:s', strtotime($clanok['created']))}, {$clanok['meno']} {$clanok['priezvisko']}</p>
{/foreach}
{else}
    Zatiaľ nebol pridaný žiadny článok.
{/if}

</div>
<!-- /content container -->