{block pagescripts}
<script src="{$basePath}/js/vendor/morris/morris.min.js"></script>
<script src="{$basePath}/js/vendor/rickshaw/raphael-min.js"></script>

<script src="{$basePath}/js/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="{$basePath}/js/vendor/flot/jquery.flot.min.js"></script>
<script src="{$basePath}/js/vendor/flot/jquery.flot.animator.min.js"></script>

<script type="text/javascript">
$(document).ready(function() {

    // Morris donut chart
    Morris.Donut({
        element: 'browser-usage',
        data: {json_encode($donut_data)|noescape},
        colors: {json_encode($training_colors)|noescape}
    });

    $('#browser-usage').find("path[stroke='#ffffff']").attr('stroke', 'rgba(0,0,0,0)');



    // Add custom class to pagination div
    $.fn.dataTableExt.oStdClasses.sPaging = 'dataTables_paginate paging_bootstrap paging_custom';

    $('.table-datatable').dataTable();
    $('div.dataTables_filter input').addClass('form-control');
    $('div.dataTables_length select').addClass('form-control');
    $(".dataTables_paginate").parent().removeClass("col-md-4").addClass("col-md-8 text-right sm-center");

    // Initialize flot chart
    var d2 = {json_encode($chart_data)|noescape}
    var months = ["January", "February", "March", "April", "May", "Juny", "July", "August", "September", "October", "November", "December"];

    // flot chart generate
    var plot = $.plotAnimator($("#statistics-chart"),
      [
        { label: "Visits", data: d2, animator: { steps: 99, duration: 500, start:200, direction: "right"},
          lines: { fill: .15, lineWidth: 0 }, color:['#ffffff'] },
        { label: "Visits", data: d2, points: { show: true, fill: true, radius:6,fillColor:"rgba(255,255,255,.2)",lineWidth:2 },
          color: '#fff', shadowSize:0 }
      ],{
      xaxis: {
        tickLength: 0, tickDecimals: 0, min:1,
        ticks: [[1,"JAN"], [2, "FEB"], [3, "MAR"], [4, "APR"], [5, "MAY"], [6, "JUN"], [7, "JUL"], [8, "AUG"], [9, "SEP"], [10, "OCT"], [11, "NOV"], [12, "DEC"]],
        font :{ lineHeight: 24, weight: "300", color: "#ffffff", size: 14 }
      }, yaxis: {
        ticks: 4, tickDecimals: 0, tickColor: "rgba(255,255,255,.3)",
        font :{ lineHeight: 13, weight: "300", color: "#ffffff" }
      }, grid: {
        borderWidth: { top: 0, right: 0, bottom: 1, left: 1 },
        borderColor: 'rgba(255,255,255,.3)', margin:0, minBorderMargin:0, labelMargin:20,
        hoverable: true, clickable: true, mouseActiveRadius:6
      }, legend: { show: false}
    });

});
</script>
{/block}

{block content}

<!-- page header -->
<div class="pageheader">
<a n:href="default"><h2><i class="fa fa-user" style="line-height: 48px;padding-left: 2px;"></i> {if $data->premium}<i title="Skalný Skiller" class="fa fa-shield"></i>{/if} {$data->meno} {$data->priezvisko}</h2></a><br />
<a n:href=":Admin:Orders:addCash $data->id" class="btn btn-default">Pridať CASH objendávku</a>
{if $data->aktivny == 0}
<a n:href="activate! $data->id" class="btn btn-success">Aktivovať účet</a>
{else}
<a n:href="deactivate! $data->id" class="btn btn-danger confirm">Deaktivovať účet</a>
{/if}
{if $data->discount == 0}
<a n:href="toggleDiscount! $data->id" class="btn btn-success">Aktivovať stav zľavnený</a>
{else}
<a n:href="toggleDiscount! $data->id" class="btn btn-danger">Deaktivovať stav zľavnený</a>
{/if}
</div>
<!-- /page header -->

<!-- content main container -->
<div class="main">
    <div class="row">
        <div class="col-md-4">

        {if $data->o_mne != ""}
        <section class="tile color transparent-black">

          <div class="tile-header about-me">
            <p>{$data->o_mne}</p>
          </div>
        </section>
        {/if}

        <!-- tile -->
        <section class="tile color transparent-black">

          <!-- tile body -->
          <div class="tile-body">
            {if count($donut_data)}
            <div id="browser-usage" style="height: 230px;" class="morris-chart"></div>
            <ul class="inline text-center chart-legend">
              <li n:foreach="$training_stats as $training => $stat"><span class="badge badge-outline" style="border-color: {$stat['color']}"></span> {$training} <small>{$stat['share']}%</small>,</li>
            </ul>
            {else}
            <p>Užívateľ nebol doposiaľ na žiadnom tréningu. </p>
            {/if}
          </div>
          <!-- /tile body -->
        </section>
        <!-- /tile -->

        </div>
            <div class="col-md-8">
                <section class="tile color transparent-white">
                  <div class="tile-header rounded-top-corners">
                    <h2>Profil</h2>
                    <a n:href=":Admin:Users:edit $data->id" title="Upraviť profil" class="btn pull-right btn-black-transparent" type="button"><i class="fa fa-wrench"></i></a>

                  </div>

                  <!-- tile body -->
                  <div class="tile-body">

                    <blockquote n:if="!empty($data->citat)">
                      <p>{$data->citat}</p>
                      {if $data->citat_autor != ''}
                      <small>{$data->citat_autor} </small>
                      {else}
                      <small>Neznámy autor </small>
                      {/if}
                    </blockquote>


                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <table class="table">
                            <tr>
                                <th>Meno</th><td>{if $data->premium}<i title="Skalný Skiller" class="fa fa-shield"></i> {/if}{$data->meno} {$data->priezvisko}</td>
                            </tr>
                            <tr>
                                <th>Login</th><td>{$data->login}</td>
                            </tr>
                            <tr>
                                <th>Členom od</th><td>{$data->date_created->format("d.m.Y")}</td>
                            </tr>
                            <tr>
                                <th>Odporučil</th><td>{$data->odporucil}</td>
                            </tr>
                            </table>
                        </div>

                        <div class="col-md-6">
                            <table class="table">
                            <tr>
                                <th>Ulica</th><td>{$data->ulica}</td>
                            </tr>
                            <tr>
                                <th>Mesto</th><td>{$data->mesto}</td>
                            </tr>
                            <tr>
                                <th>PSČ</th><td>{$data->psc}</td>
                            </tr>
                            {*<tr>
                                <th>Variabilný symbol</th><td>{$data->variabilny_symbol}</td>
                            </tr>*}
                            <tr>
                                <th>Platnosť kreditov</th>
                                <td {if $data->platnost_kreditov < (new \DateTime())} style="color:red"{/if}>
                                {ifset $data->platnost_kreditov}
                                    {$data->platnost_kreditov->format("d.m.Y")}
                                {/ifset}
                                </td>
                            </tr>
                            <tr>
                                <th>Počet kreditov</th><td>{ifset $data->pocet_kreditov}{$data->pocet_kreditov}{/ifset}</td>
                            </tr>
                            </table>
                        </div>
                    </div>

                  </div>
                  <!-- /tile body -->

                </section>
            </div>
        </div>
</div>
<!-- /content container -->


<!-- page header -->
<div class="pageheader">
    <h2><i class="fa fa-book" style="line-height: 48px;padding-left: 2px;"></i> Aktivita</h2>
</div>
<!-- /page header -->

<!-- content main container -->
<div class="main">

    <!-- row -->
    <div class="row">
      <!-- col 12 -->
      <div class="col-md-12">
        <!-- tile -->
        <section class="tile transparent">
          <!-- tile header -->
          <div class="tile-header color transparent-black textured rounded-top-corners">
            <h1>Tréningov za mesiac</h1>
          </div>
          <!-- /tile header -->

          <!-- tile widget -->
          <div class="tile-widget color transparent-black textured">
            <div id="statistics-chart" class="chart statistics" style="height: 200px;"></div>
          </div>
          <!-- /tile widget -->
        </section>
      </div>
    </div>

    <!-- row -->
    <div class="row">
      <!-- col 12 -->
      <div class="col-md-12">

        <section class="tile color transparent-black rounded-corners">
            <div class="tile-header">
                <h1>Transakcie</h1>
            </div>
            <div class="tile-body">
                {control transakcieGrid}
            </div>
        </section>
      </div>
    </div>

    <!-- row -->
    <div class="row">
      <!-- col 12 -->
      <div class="col-md-12">

        <section class="tile color transparent-black rounded-corners">
            <div class="tile-header">
                <h1>Objednávky</h1>
            </div>
            <div class="tile-body">
                {control ordersGrid}
            </div>
        </section>
      </div>
    </div>
</div>
<!-- /content container -->