{block content}

<!-- page header -->
<div class="pageheader">
    <a n:href="default"><h2><i class="fa fa-file-o" style="line-height: 48px;padding-left: 2px;"></i> Permanentky</h2></a><br />
    <a n:href="add" class="btn btn-primary"><i class="fa fa-plus"></i> Nový záznam</a>
</div>
<!-- /page header -->

<!-- content main container -->
<div class="main">

<section class="tile color transparent-black rounded-corners">
<div class="tile-header">
</div>
<div class="tile-body">
    {control grid}
</div>
</section>
</div>
<!-- /content container -->