{block content}

<!-- page header -->
<div class="pageheader">
<a n:href="Kredity:default"><h2><i class="fa fa-file-o" style="line-height: 48px;padding-left: 2px;"></i> Permanentky</h2></a>
</div>
<!-- /page header -->

<!-- content main container -->
<div class="main">

    <section class="tile color transparent-white">

      <!-- tile body -->
      <div class="tile-body">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12">
              {control form}
            </div>
        </div>
      </div>
      <!-- /tile body -->

    </section>
</div>
<!-- /content container -->