{block content}

<!-- page header -->
<div class="pageheader">
<a n:href="Kredity:default"><h2><i class="fa fa-file-o" style="line-height: 48px;padding-left: 2px;"></i> Skilliere</h2></a>
</div>
<!-- /page header -->

<!-- content main container -->
<div class="main">

    <section class="tile color transparent-white">

      <!-- tile body -->
      <div class="tile-body">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12">
              {control form}
            </div>
        </div>
      </div>
      <!-- /tile body -->

    </section>
</div>
<!-- /content container -->

<script type="text/javascript">
	function changeCreditsType(type) {
		if (typeof(type) === 'undefined') {
			type = $("#creditsType").val();
		}
		// $(".credits_type").prop("disabled", true).val("");
		$(".credits_type").closest(".form-group").hide();
		switch (type) {
			case "1":
				break;
			case "2":
				// $("#season_ticket_id").show().prop("disabled", false);
				$("#season_ticket_id").closest(".form-group").show();
				break;
			case "3":
				// $("#pack_id").show().prop("disabled", false);
				$("#pack_id").closest(".form-group").show();
				break;
		}
	}
	
	changeCreditsType();

	$("#creditsType").change(function() {
		changeCreditsType($(this).val());
	});
</script>