
<section class="tile color transparent-white">
  <!-- tile body -->
  <div class="tile-body">
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12">
            {form form}
                <div class="col-md-6">
                    <div class="form-group required">
                        <div class="col-sm-3 control-label">{label training_type_id /}</div>
                        <div class="col-sm-9">{input training_type_id}</div>
                    </div>
                    <div class="form-group required">
                        <div class="col-sm-3 control-label">{label termin_od /}</div>
                        <div class="col-sm-9">{input termin_od}</div>
                    </div>
                    <div class="form-group required">
                        <div class="col-sm-3 control-label">{label training_times_id /}</div>
                        <div class="col-sm-9">{input training_times_id}</div>
                    </div>
                    <div class="form-group required">
                        <div class="col-sm-3 control-label">{label kredity /}</div>
                        <div class="col-sm-9">{input kredity}</div>
                    </div>
                    <div n:if="$zruseny !== 1" class="form-group">
                        <div class="col-sm-offset-3 col-sm-2">
                            {input id}
                            {input submit}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group required">
                        <div class="col-sm-3 control-label">{label trener_user_id /}</div>
                        <div class="col-sm-9">{input trener_user_id}</div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3 control-label">{label asistant_user_id /}</div>
                        <div class="col-sm-9">{input asistant_user_id}</div>
                    </div>
                    <div class="form-group required">
                        <div class="col-sm-3 control-label">{label max_pocet /}</div>
                        <div class="col-sm-9">{input max_pocet}</div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                        {if $zruseny !== 1}
                            <a class="btn btn-danger confirm" n:href="cancelTraining! $training_id">Zrušiť tréning</a>
                        {else}
                            <p>Tréning je zrušený</p>
                        {/if}
                        </div>
                    </div>
                </div>
            {/form}
        </div>
    </div>
  </div>
  <!-- /tile body -->
</section>

<section class="tile color transparent-white">
  <!-- tile body -->
  <div class="tile-body">
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <div n:if="$zruseny !== 1" class="row">
                    <div class="col-md-12">
                    {control traineeReservation}
                    </div>
                </div>

                <div n:if="count($cvicenci)" class="row">
                    <div class="col-md-12">
                    {form emailTrainees}
                    <div class="form-group required">
                        <div class="col-sm-3 control-label">{label email /}</div>
                        <div class="col-sm-9">{input email}</div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-2">
                            {input id}
                            {input submit}
                        </div>
                    </div>
                    {/form}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <br />
                <div n:if="count($cvicenci)" class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-sm-3 control-label"><label>Prihlásení cvičenci:</label></div>
                            <div class="col-sm-9">
                                <div n:foreach="$cvicenci as $cvicenec" class="btn-group">
                                    <a href="{plink ':Admin:Trainings:unregisterTrainee' $training_id, $cvicenec->user_id}" class="btn btn-primary" target="_blank"><i class="fa fa-times"></i></a>
                                    <a href="{plink ':Admin:Users:show' $cvicenec->user_id}" class="btn btn-default" target="_blank">{$cvicenec->meno} {$cvicenec->priezvisko}</a>
									{if ($cvicenec->reservation_type == 2) && $cvicenec->season_ticket_id != null && $cvicenec->season_ticket_valid_until > new \DateTime()}
									<a href="{plink ':Admin:Trainings:addPenalty' $training_id, $cvicenec->user_id}" class="btn btn-danger" target="_blank"><i class="fa fa-circle"></i></a>
									{/if}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <!-- /tile body -->
</section>