<!DOCTYPE html>
<html>
  <head>
	<title>Rezervácia tréningov - No Will No Skill Academy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8" />

    <link rel="icon" type="image/ico" href="{$basePath}/images/favicon.ico" />
    <!-- Bootstrap -->
    <link href="{$basePath}/css/vendor/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{$basePath}/css/vendor/bootstrap-checkbox.css">
    <link rel="stylesheet" href="{$basePath}/css/vendor/bootstrap/bootstrap-dropdown-multilevel.css">

    <link href="{$basePath}/css/minimal.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
<body>

  <body class="bg-1">
    <!-- Wrap all page content here -->
    <div id="wrap">
      <!-- Make page fluid -->
      <div class="row">
        <!-- Page content -->
        <div id="content" class="col-md-12 full-page login">
			{include content}
        </div>
        <!-- /Page content -->
      </div>
    </div>
    <!-- Wrap all page content end -->
  </body>
</html>