
{block content}


<div class="inside-block">
    <img src="{$basePath}/images/logo-big.png" alt class="logo">
    <h1>Prihlásenie do RS</h1>
    {form loginForm class => 'form-signin'}
      <section>
        <div class="input-group">
            {input login class => 'form-control', placeholder => 'E-mail' }
          <div class="input-group-addon"><i class="fa fa-user"></i></div>
        </div>
        <div class="input-group">
            {input pass class => 'form-control', placeholder => 'Heslo' }
          <div class="input-group-addon"><i class="fa fa-key"></i></div>
        </div>
      </section>
      <section class="controls">
        <div class="checkbox check-transparent">
            {input remember}
          <label for="remember">Remember me</label>
        </div>

        <a n:href="Authenticate:Lost"> Stratil som heslo</a>
      </section>
      <section class="log-in">
        {input submit class => 'btn btn-greensea'}
        <span>alebo</span>
        <a n:href="Authenticate:Register" class="btn btn-slategray">REGISTRÁCIA</a>
      </section>
    {/form}
</div>