{block content}
<h2 class="m10 centered">Obnova hesla</h2>
<div class="registration p20">
    <div class="reg-left">
        {form lostPwForm}
            <table border="0" cellspacing="5">
                <tr>
                    <td align="left" class="w190">{label email /}:</td>
                    <td>{input email class => 'p5'}</td>
                </tr>
                <tr>
                    <td class="button-container" colspan="2">{input submit class => button}</td>
                </tr>
            </table>
            {/form}
    </div>
    <div class="reg-right">
        <div>
            Ak si zabudol svoje heslo, zadaj do formulára tvoj registračný e-mail a my ti vygenerujeme nové, aby si sa mohol prihlásiť.
        </div>
    </div>
    <div class="clear"></div>
</div>
