{block content}

<script type="text/javascript">
	$( document ).ready(function() {
	    $('input').focus(function() {
	    	var target = $(this).attr('id');
	    	$('#info').hide();

	    	$('.infobox').each(function() {
	    		if(jQuery.inArray(target, $(this).attr('rel').split(' ')) != -1) {
	    			$(this).show();
	    		} else {
	    			$(this).hide();
	    		}
			});
	    });
	    $('#more_info').click(function() {
	    	$('.infobox').hide();
	    	$('#info').show();
	    });
	});
</script>

<h2 class="m10 centered"><strong>Registrácia do systému</strong></h2>

<div class="rel registration">
    <div class="left2 mr10 reg-left">
        {form registerForm}

        <div class="err-msg red fwb m20" n:if="$form->hasErrors()">
	        <ul class="errors">
	                <li n:foreach="$form->errors as $error">{$error}</li>
	        </ul>
        </div>

            <table class='registration-table' order="0" cellspacing="5">
                <tr>
                    <td align="left">{label meno /}:</td>
                    <td class="align-right">{input meno}</td>
                </tr>
                <tr>
                    <td align="left">{label priezvisko /}:</td>
                    <td class="align-right">{input priezvisko}</td>
                </tr>
                <tr>
                    <td align="left">{label email /}:</td>
                    <td class="align-right">{input email}</td>
                </tr>
                <tr>
                    <td align="left">{label heslo /}:</td>
                    <td class="align-right">{input heslo}</td>
                </tr>
                <tr>
                    <td align="left">{label heslo2 /}:</td>
                    <td class="align-right">{input heslo2}</td>
                </tr>
                <tr>
                    <td align="left">{label adresa /}:</td>
                    <td class="align-right">{input adresa}</td>
                </tr>
                <tr>
                    <td align="left">{label mesto /}:</td>
                    <td class="align-right">{input mesto}</td>
                </tr>
                <tr>
                    <td align="left">{label psc /}:</td>
                    <td class="align-right">{input psc}</td>
                </tr>
                <tr>
                    <td align="left">{label podmienky: /}</td>
                    <td class="align-right">{input podmienky: style => 'margin-right:15px'}<a id="more_info" class="red" href="#">Viac informácií</a></td>
                </tr>
                <tr>
                    <td align="left">{label odporucil /}:</td>
                    <td class="align-right">{input odporucil}</td>
                </tr>
                <tr>
                    <td class='button-container' colspan="2">{input submit class => 'button'}</td>
                </tr>

            </table>
        {/form}
    </div>

    <div class="left2 reg-right">

        <div class='infobox' rel="frm-registerForm-meno" style="display: none;">Zadaj svoje pravé meno (nie prezývku).</div>
        <div class='infobox' rel="frm-registerForm-priezvisko" style="display: none;">Zadaj svoje pravé priezvisko (nie prezývku).</div>
        <div class='infobox' rel="frm-registerForm-heslo frm-registerForm-heslo2" style="display: none;">Heslo, ktoré budeš používať na prihlásenie do systému</div>
        <div class='infobox' rel="frm-registerForm-podmienky" style="display: none;">Dôkladne si prečítaj čo je napísané v našich podmienkach o navštevovaní tréningov v No Will No Skill Academy.</a></div>
        <div class='infobox' rel="frm-registerForm-email" style="display: none;">Sem uveď tvoju emailovú adresu, ktorú používaš najčastejšie. Na ňu ti zašleme potvrdenie o registrácií a ďalšie potrebné informácie.</div>
        <div class='infobox' rel="frm-registerForm-adresa frm-registerForm-mesto frm-registerForm-psc" style="display: none;">Prosím uveď tvoju celú adresu bydliska - mesto, ulicu, číslo domu a PSČ. Potrebujeme ju kvôli vystaveniu faktúry.</div>
        <div class='infobox' rel="frm-registerForm-odporucil" style="display: none;">Od koho si sa o No Will No Skill Academy dozvedel /-a? Ak to bola osoba, uveď prosím jej meno. Ak to bola iná informácia, napíš nám aká (leták, web, iné). Ďakujeme.</div>

        <div id="info" style="display: none;">
            <p style="text-align: center;"><b>PREHLÁSENIE o návšteve študijných programov v telocvični No Will No Skill Academy Bratislava</b></p>

            <p>Svojim súhlasom a online registráciou potvrdzuješ že sa stávaš členom No Will No Skill Academy a súhlasíš s nasledovnými podmienkami:</p>

            <ul>
				<li>Tvoja emailová adresa bude pridaná do nášho newsletteru, kde budeš dostávať vždy aktuálne novinky z Akadémie, prípadne udalostí a iných záležitostí týkajúcich sa No Will No Skill. Z tohto newsletteru sa môžeš hocikedy odhlásiť.</li>
				<li>Súhlasíš s prípadným zverejnením foto- a video-záznamov z tréningov v Akadémií, na ktorých sa zúčastníš.</li>
                <li>Všetky údaje, ktoré si uviedol v registračnom formulári sú pravdivé a súhlasíš s ich uchovaním v našej databáze za účelom registrácie a evidencie tréningov.</li>
				<li>Cvičíš vždy na vlastnú zodpovednosť.</li>
				<li>Na tréningy sa treba registrovať vždy vopred cez náš rezervačný systém. Ak prídeš na tréning bez prihlásenia, tréner má právo ťa k tréningu nepripustiť.</li>
				<li>K dispozícií sú odkladacie skrinky aj so zámkami, no za veci odložené v priestoroch Akadémie nenesieme hmotnú zodpovednosť.</li>
                <li>Tréner si vyhradzuje právo žiadať od svojich členov úhradu za spôsobené škody vprípade, že poškodia majetok Akadémie, alebo poškodia majetok jeho či iných členov Akadémie.</li>
            </ul>



            <p><b>V prípade ďalších otázok nás neváhaj kontaktovať</b> na email <a href='mailto:kontakt@nowillnoskill.academy' title='Emailova adresa'>kontakt@nowillnoskill.academy</a> </p>

        </div>
    </div>
    <div class="clear"></div>
</div>