{block content}

<div class="pageheader">
	<h2><i class="fa fa-home" style="line-height: 48px;padding-left: 2px;"></i> Dashboard</h2><br />
	<a n:href="Orders:addCash" class="btn btn-default"><i class="fa fa-plus"></i> Pridať hotovostnú platbu</a>
</div>

<div class="main">
	<div class="row">
		<div class="col-md-6">
			<div class="tile color transparent-black rounded-corners">
				<div class="tile-header">Noví členovia za posledný mesiac:</div>
				<div class="tile-body">
					{control newUsersGrid}
				</div>
			</div>
		</div>
		<div class="col-md-6">
		  <div class="tile color transparent-black rounded-corners">
			<div class="tile-header">Počet ľudí s permanentkami:</div>
				<div class="tile-body">
				{if $vipMemberCount[0]["count"] == null} 
					<p>Neboli nájdení ľudia s permanentkami</p>
				{else}
					<p>{$vipMemberCount[0]["count"]}</p>
				{/if}
				</div>
			</div>
		</div>
		<div class="col-md-6">
		  <div class="tile color transparent-black rounded-corners">
			<div class="tile-header">Očakávaný príjem z nepotvrdených objednávok:</div>
				<div class="tile-body">
				{if $sumOfUnconfirmedOrders[0]["cena"] == null} 
					<p>Neboli nájdené žiadne nepotvrdené objednávky</p>
				{else}
					<p>{$sumOfUnconfirmedOrders[0]["cena"]} €</p>
				{/if}
				</div>
			</div>
		</div>
		<div class="col-md-6">
		  <div class="tile color transparent-black rounded-corners">
			<div class="tile-header">Príjem za minulý mesiac:</div>
				<div class="tile-body">
				{if $lastMonthSc[0]["suma"] == null} 
					<p>Neboli nájdené žiadne objednávky za minulý mesiac</p>
				{else}
					<p>{$lastMonthSc[0]["suma"]} €</p>
				{/if}
				</div>
			</div>
		</div>
		<div class="col-md-6">
		  <div class="tile color transparent-black rounded-corners">
			<div class="tile-header">Príjem za aktuálny mesiac:</div>
				<div class="tile-body">
				{if $thisMonthSc[0]["suma"] == null} 
					<p>Neboli nájdené žiadne objednávky za aktuálny mesiac</p>
				{else}
					<p>{$thisMonthSc[0]["suma"]} €</p>
				{/if}
				</div>
			</div>
		</div>
	</div>
</div>