{block content}

<!-- page header -->
<div class="pageheader">
    <a n:href="default"><h2><i class="fa fa-file-o" style="line-height: 48px;padding-left: 2px;"></i> Objednávky</h2></a><br />
</div>
<!-- /page header -->

<!-- content main container -->
<div class="main">

    <section class="tile color transparent-white">

      <!-- tile body -->
      <div class="tile-body">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12">
              {control cashOrderForm}
            </div>
        </div>
      </div>
      <!-- /tile body -->

    </section>
</div>
<!-- /content container -->
<script type="text/javascript">
	$('[name="price"]').val($('[name="produkt"]').find('option:selected').attr('data-price'));
	$("[name='produkt']").on('change', function(e) {
		var price = $(this).find('option:selected').attr('data-price');
		$('[name="price"]').val(price);
	});
</script>