{block content}

<!-- page header -->
<div class="pageheader">
    <a n:href="default"><h2><i class="fa fa-file-o" style="line-height: 48px;padding-left: 2px;"></i> Objednávky</h2></a><br />
    <a n:href="addCash" class="btn btn-default"><i class="fa fa-plus"></i> Pridať hotovostnú platbu</a>
</div>
<!-- /page header -->

<!-- content main container -->
<div class="main">

<section class="tile color transparent-black rounded-corners">
<div class="tile-header">
</div>
<div class="tile-body">
    {control grid}
</div>
</section>
</div>
<!-- /content container -->