<div class="navbar navbar-default navbar-fixed-top navbar-transparent-black mm-fixed-top" role="navigation" id="navbar">



  <!-- Branding -->
  <div class="navbar-header col-md-2">
    <a class="navbar-brand" n:href=":Admin:Dashboard:default">
      <strong>NWNS</strong>Administration
    </a>
    <div class="sidebar-collapse">
      <a href="#">
        <i class="fa fa-bars"></i>
      </a>
    </div>
  </div>
  <!-- Branding end -->


  <!-- .nav-collapse -->
  <div class="navbar-collapse">



    <!-- Quick Actions -->
    <ul class="nav navbar-nav quick-actions">


    {if $user->isLoggedIn() == true}
      <li class="dropdown divided user" id="current-user">
        <div class="profile-photo">
          <img src="{$basePath}/images/profile-photo.jpg" alt />
        </div>
        <a class="dropdown-toggle options" data-toggle="dropdown" href="#">
          {$meno} <i class="fa fa-caret-down"></i>
        </a>

        <ul class="dropdown-menu arrow settings">

          <li><a n:href=":Admin:Authenticate:logout"><i class="fa fa-power-off"></i> Odhlásiť sa</a></li>
        </ul>
      </li>
    {else}
        <li><a n:href=":Admin:Authenticate:"><i class="fa fa-user"></i> Prihlásenie</a></li>
    {/if}

    </ul>
    <!-- /Quick Actions -->

    <!-- Sidebar -->
    {include '@menu.latte'}
    <!-- Sidebar end -->

  </div>
  <!--/.nav-collapse -->

</div>