<ul class="nav navbar-nav side-nav" id="sidebar">
	<li><a n:href=":Admin:Dashboard:default"><i class="fa fa-home"></i> Dashboard</a></li>
	<li><a n:href=":Admin:Stats:"><i class="fa fa-tachometer"></i> Štatistiky</a></li>
	<li><a n:href=":Admin:Trainings:"><i class="fa fa-th"></i> Tréningy</a></li>
	{*<li><a n:href=":Admin:PersonalTrainings:"><i class="fa fa-user"></i> Osobné tréningy</a></li>*}
	<li><a n:href=":Admin:Users:"><i class="fa fa-users"></i> Používatelia</a></li>
	<li><a n:href=":Admin:Orders:"><i class="fa fa-credit-card"></i> Objednávky</a></li>
	<li><a n:href=":Admin:Transakcie:"><i class="fa fa-book"></i> Transakcie</a></li>
	<li><a n:href=":Admin:Kredity:"><i class="fa fa-money"></i> Produkty</a></li>
	<li n:if="false"><a n:href=":Admin:Config:"><i class="fa fa-cog"></i> Nastavenia</a></li>
</ul>