{block #pagescripts}
        <script type="text/javascript" src="{$basePath}/js/ckeditor/ckeditor.js"></script>
        <script type="text/javascript" src="{$basePath}/js/kcfinder/ckeditor.js"></script>
    {/block}
    
{block content}

<!-- page header -->
<div class="pageheader">
<h2><i class="fa fa-file-o" style="line-height: 48px;padding-left: 2px;"></i> Blank Page <span>// Place subtitle here...</span></h2>


<div class="breadcrumbs">
  <ol class="breadcrumb">
    <li>You are here</li>
    <li><a href="index.html">Minimal</a></li>
    <li><a href="#">Example Pages</a></li>
    <li class="active">Blank Page</li>
  </ol>
</div>


</div>
<!-- /page header -->






<!-- content main container -->
<div class="main">



<!-- row -->
<div class="row">

  <!-- col 12 -->
  <div class="col-md-12">

  </div>
  <!-- /col 12 -->
<script type="text/javascript">
$(document).ready(function() {
    
    var iterator = 1;
    
    function pridaj_input(){
        $('.nazov:last').after('<input type="text" name="image_url['+iterator+']" onfocus="openKCFinder(this)" onclick="openKCFinder(this)" readonly="readonly" id="frm-imageForm-image_url" data-nette-empty-value="Cesta k obrázku" value="Cesta k obrázku" class="form-control" placeholder="Cesta k obrázku"><input type="text" name="nazov['+iterator+']" id="frm-imageForm-nazov" required="" class="nazov form-control" placeholder="Názov">');
        iterator++;
    }
    
    
    $('.add_input').click(function(e){
        e.preventDefault();
        pridaj_input();
    });
});
    




function openKCFinder(field) {
    window.KCFinder = {
        callBack: function(url) {
            field.value = url;
            window.KCFinder = null;
        }
    };
    window.open({$basePath}+'/js/kcfinder/browse.php?type=images&dir=images/public', 'kcfinder_textbox',
        'status=0, toolbar=0, location=0, menubar=0, directories=0, ' +
        'resizable=1, scrollbars=0, width=800, height=600'
    );
}
</script>
     

</div>
<!-- /row -->

{form imageForm class => 'form_image'}
    <input type="text" name="image_url[0]" onfocus="openKCFinder(this)" onclick="openKCFinder(this)" readonly="readonly" id="frm-imageForm-image_url" data-nette-empty-value="Cesta k obrázku" value="Cesta k obrázku" class="form-control" placeholder="Cesta k obrázku">
    <input type="text" name="nazov[0]" id="frm-imageForm-nazov" required="" class="nazov form-control" placeholder="Názov">
    {input pridaj class => 'add_input form-control', placeholder => 'Pridaj ďalší' }
    {input galery_id class => 'form-control', placeholder => 'Galéria' }
    {input submit class => 'form-control', placeholder => 'Pridaj' }
{/form}

</div>
<!-- /content container -->