/**
 * This file is part of the Grido (http://grido.bugyik.cz)
 *
 * Copyright (c) 2011 Petr Bugyík (http://petr.bugyik.cz)
 *
 * For the full copyright and license information, please view
 * the file LICENSE.md that was distributed with this source code.
 */

/******************** GRID ********************/

.grido th.column {width: 7%}

.grido thead {font-size: 1.15em}
.grido tfoot {font-size: 1.1em}

.grido .no-results {text-align: center}

/******************** FILTER ********************/

.grido tr.filter {height: 20px}


/******************** OTHERS ********************/

.grido th.actions {
    width: 15%;
    text-align: center;
}

.grido th.buttons,
.grido td.actions {text-align: center; max-width: 50px}

.grido td.actions a {margin-right: 3px;}
.grido td.actions .fa {
    color: #333
}
.grido th.checker {width: 1%;text-align: center}
.grido td.checker {text-align: center}

.grido th:last-child,
.grido td:last-child { border-right: 0}

.grido tfoot tr {height: 35px}
.grido tfoot td {border-bottom:0}
.grido tfoot td:first-child {border-radius: 0 0 0 4px}
.grido tfoot td:last-child {border-radius: 0 0 4px 4px}

.grido tfoot {text-align: center; line-height: 23px!important}
.grido tfoot .operations {float: left;text-align: left}
.grido tfoot .count {float:right; text-align: left}

.grido .center {text-align: center}
.grido .left {text-align: left}
.grido .right {text-align: right}

.grido .filter.outer label {font-size: 12px}
