{block #pagescripts}
        <script type="text/javascript" src="{$basePath}/js/ckeditor/ckeditor.js"></script>
        <script type="text/javascript" src="{$basePath}/js/kcfinder/ckeditor.js"></script>
    {/block}
    
{block content}

<!-- page header -->
<div class="pageheader">
<h2><i class="fa fa-file-o" style="line-height: 48px;padding-left: 2px;"></i> Blank Page <span>// Place subtitle here...</span></h2>


<div class="breadcrumbs">
  <ol class="breadcrumb">
    <li>You are here</li>
    <li><a href="index.html">Minimal</a></li>
    <li><a href="#">Example Pages</a></li>
    <li class="active">Blank Page</li>
  </ol>
</div>


</div>
<!-- /page header -->






<!-- content main container -->
<div class="main">



<!-- row -->
<div class="row">

  <!-- col 12 -->
  <div class="col-md-12">

  </div>
  <!-- /col 12 -->

</div>
<!-- /row -->

{form categoryForm class => 'form_image'}
    {input nazov class => 'form-control', placeholder => 'Názov' }
    {input parent_category_id class => 'form-control', placeholder => 'Podkategória' }
    {input submit class => 'form-control', placeholder => 'Pridaj' }
{/form}

</div>
<!-- /content container -->