{block pagescripts}
<script src="{$basePath}/js/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="{$basePath}/js/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="{$basePath}/js/vendor/datatables/ColReorderWithResize.js"></script>
<script src="{$basePath}/js/vendor/datatables/colvis/dataTables.colVis.min.js"></script>
<script src="{$basePath}/js/vendor/datatables/tabletools/ZeroClipboard.js"></script>
<script src="{$basePath}/js/vendor/datatables/tabletools/dataTables.tableTools.min.js"></script>
<script src="{$basePath}/js/vendor/datatables/dataTables.bootstrap.js"></script>
<script src="{$basePath}/js/vendor/flot/jquery.flot.min.js"></script>
<script src="{$basePath}/js/vendor/flot/jquery.flot.animator.min.js"></script>
<script src="{$basePath}/js/vendor/chosen/chosen.jquery.min.js"></script>
{/block}

{block content}

<!-- page header -->
<div class="pageheader">
    <h2><i class="fa fa-file-o" style="line-height: 48px;padding-left: 2px;"></i> Štatistiky</h2>
</div>
<!-- /page header -->

<!-- content main container -->
<div class="main">


    <div class="row">
        <div class="col-md-12">

            <section class="tile color transparent-white">
                <div class="tile-header">
                    <h1>Filtrovanie</h1>
                </div>
                <!-- tile body -->
                <div class="tile-body">
                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="center-block text-center">
                            <div class="btn-group">
                                <a n:href="Stats:default date_from => $lastWeekStart, date_to => $lastWeekEnd"><button type="button" class="btn btn-primary stats-button">Minulý týždeň</button></a>
                                <a n:href="Stats:default date_from => $currentWeekStart, date_to => $currentDate"><button type="button" class="btn btn-primary stats-button">Tento týždeň</button></a>
                                <a n:href="Stats:default date_from => $lastMonthStart, date_to => $lastMonthEnd"><button type="button" class="btn btn-primary stats-button">Minulý mesiac</button></a>
                                <a n:href="Stats:default date_from => $currentMonthStart, date_to => $currentDate"><button type="button" class="btn btn-primary stats-button">Tento mesiac</button></a>
                            </div>
                        </div>
                        {form daterangeForm}
                            <div class="col-md-5">
                                <div class="col-md-4">
                                    {label date_from /}
                                </div>
                                <div class="col-md-8">
                                    {input date_from}
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="col-md-4">
                                    {label date_to /}
                                </div>
                                <div class="col-md-8">
                                    {input date_to}
                                </div>
                            </div>
                            <div class="col-md-2">
                                {input submit}
                            </div>
                        {/form}
                    </div>
                </div>
                <!-- /tile body -->

            </section>
        </div>
    </div>


    <div class="row">

        <div class="col-md-12">
            <!-- tile -->
            <section class="tile color transparent-white">
                <!-- tile header -->
                <div class="tile-header">
                    <h1>Objednávky</h1>
                </div>
                <!-- /tile header -->

                <!-- tile body -->
                <div class="tile-body nopadding">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Názov</th>
                                <th>Počet</th>
                                <th>Paypal</th>
                                <th>Prevod</th>
                                <th>Hotovosť</th>
                                <th>Neuhradené</th>
                                <th>EUR</th>
                            </tr>
                        </thead>
                        <tbody>
                            {var $sum = array(
              'pocet'=>0,'paypal'=>0,'prevod'=>0,'hotovost'=>0,
              'neuhradene'=>0,'kredity'=>0,'eur'=>0
            )}
                            <tr n:foreach="$ordersCounts as $row">
                                <td>{$row['nazov']}</td>
                                <td>{$row['pocet']} {var $sum['pocet']+=$row['pocet']}</td>
                                <td>{$row['paypal']} {var $sum['paypal']+=$row['paypal']}</td>
                                <td>{$row['prevod']} {var $sum['prevod']+=$row['prevod']}</td>
                                <td>{$row['hotovost']} {var $sum['hotovost']+=$row['hotovost']}</td>
                                <td>{$row['neuhradene']} {var $sum['neuhradene']+=$row['neuhradene']}</td>
                                <td>{$row['eur']} {var $sum['eur']+=$row['eur']}</td>
                            </tr>
                            <tr n:if="!count($ordersCounts)">
                                <td colspan="8"><center>Žiadne záznamy</center></td>
                        </tr>
                        </tbody>
                        <tfoot>
                            <tr class="info">
                                <td>Spolu</td>
                                <td>{$sum['pocet']}</td>
                                <td>{$sum['paypal']}</td>
                                <td>{$sum['prevod']}</td>
                                <td>{$sum['hotovost']}</td>
                                <td>{$sum['neuhradene']}</td>
                                <td>{$sum['eur']}</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /tile body -->

            </section>
            <!-- /tile -->
        </div>

        <div class="col-md-12">
            <!-- tile -->
            <section class="tile color transparent-white">
                <!-- tile header -->
                <div class="tile-header">
                    <h1>Cvičenci</h1>
                </div>
                <!-- /tile header -->

                <!-- tile body -->
                <div class="tile-body nopadding">
                    <table class="table">
                        <tr>
                            <td>Aktívni</td>
                            <td>80</td>
                        </tr>
                        <tr>
                            <td>Nové registrácie</td>
                            <td>{$registeredUsersCount}</td>
                        </tr>
                        <tr>
                            <td>Potvrdení</td>
                            <td>{$confirmedUsersCount}</td>
                        </tr>
                        <tr>
                            <td>Konvertovaní</td>
                            <td>{$convertedUsersCount}</td>
                    </table>
                </div>
                <!-- /tile body -->
            </section>
            <!-- /tile -->
        </div>


        <div class="col-md-12">
            <!-- tile -->
            <section class="tile color transparent-white">
                <!-- tile header -->
                <div class="tile-header">
                    <h1>Tréningy</h1>
                </div>
                <!-- /tile header -->

                <!-- tile body -->
                <div class="tile-body nopadding">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Názov</th>
                                <th>Odtrénovaných</th>
                                <th>Zrušených</th>
                                <th>Celkom ľudí</th>
                                <th>Priemer ľudí</th>
                            </tr>
                        </thead>
                        <tbody>
                            {var $sum = array(
              'odtrenovanych'=>0,'zrusenych'=>0,'celkom_ludi'=>0,'priemer'=>0
            )}
                            <tr n:foreach="$trainings as $row">
                                <td>{$row['nazov']}</td>
                                <td>{$row['odtrenovanych']} {var $sum['odtrenovanych']+=$row['odtrenovanych']}</td>
                                <td>{$row['zrusenych']} {var $sum['zrusenych']+=$row['zrusenych']}</td>
                                <td>{$row['celkom_ludi']} {var $sum['celkom_ludi']+=$row['celkom_ludi']}</td>
                                {if $row['odtrenovanych'] > 0}
                                    <td>{$row['celkom_ludi']/$row['odtrenovanych']|number:2} {var $sum['priemer']+=$row['celkom_ludi']}</td>
                                {else}
                                    <td>0</td>    
                                {/if}
                            </tr>
                            <tr n:if="!count($trainings)">
                                <td colspan="5"><center>Žiadne záznamy</center></td>
                        </tr>
                        </tbody>
                        <tfoot>
                            <tr class="info">
                                <td>Spolu</td>
                                <td>{$sum['odtrenovanych']}</td>
                                <td>{$sum['zrusenych']}</td>
                                <td>{$sum['celkom_ludi']}</td>
                                <td>{if $sum['odtrenovanych'] > 0}{$sum['priemer']/$sum['odtrenovanych']|number:2}{else}0{/if}</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /tile body -->

            </section>
            <!-- /tile -->
        </div>
    </div>
</div>
<!-- /content container -->



<!-- page header -->
<div n:if="$user->isInRole('Administrátor')" class="pageheader">
    <h2><i class="fa fa-table" style="line-height: 48px;padding-left: 2px;"></i> Výpis objednávok</h2>
</div>

<!-- content main container -->
<div n:if="$user->isInRole('Administrátor')" class="main">
    <div class="row">
        <div class="col-md-12">
            <!-- tile -->
            <section class="tile color transparent-white">
                <!-- tile header -->
                <div class="tile-header">
                    <h1>Stiahnuť výpis objednávok za:</h1>
                </div>
                <!-- /tile header -->
                <!-- tile body -->
                <div class="tile-body">
					<div class="row">
                		<div class="col-md-12">
	                		{form selectMonthForm}
	                			<div class="form-group">
									{label month /}
	    							{input month}
								</div>
								{input submit}
	                        {/form}
	                       </div>
                	</div>
                	<div class="row">
                		<div class="col-md-12">
	                		{form daterangeFormForOrders}
	                			<div class="form-group">
									{label date_from_orders /}
	    							{input date_from_orders}
								</div>
								<div class="form-group">
									{label date_to_orders /}
	    							{input date_to_orders}
								</div>
								{input submit}
	                        {/form}
	                       </div>
                	</div>
                <!-- /tile body -->
				</div>
            </section>
            <!-- /tile -->
        </div>
    </div>
</div>
<!-- /content container -->




<!-- page header -->
<div class="pageheader">
    <h2><i class="fa fa-file-o" style="line-height: 48px;padding-left: 2px;"></i> Štatistiky trénerov</h2>
</div>
<!-- /page header -->

<!-- content main container -->
<div class="main">

    <div class="row">


        <div class="col-md-12">
            <!-- tile -->
            <section class="tile color transparent-white">
                <!-- tile header -->
                <div class="tile-header">
                    <h1>Tréneri</h1>
                </div>
                <!-- /tile header -->

                <!-- tile body -->
                <div class="tile-body nopadding">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Tréner</th>
                                <th>Odtrénovaných</th>
                                <th>Zrušených</th>
                                <th>Odtrénovaných ľudí</th>
                                <th>Priemer</th>
                            </tr>
                        </thead>
                        <tbody>
                            {var $sum = array(
              'odtrenovanych'=>0,'zrusenych'=>0,'celkom_ludi'=>0,'priemer'=>0
            )}
                            <tr n:foreach="$trainers as $row">
                                <td>{$row['trener']}</td>
                                <td>{$row['odtrenovanych']} {var $sum['odtrenovanych']+=$row['odtrenovanych']}</td>
                                <td>{$row['zrusenych']} {var $sum['zrusenych']+=$row['zrusenych']}</td>                                
                                <td>{$row['celkom_ludi']} {var $sum['celkom_ludi']+=$row['celkom_ludi']}</td>
                                {if $row['odtrenovanych'] > 0}
                                    <td>{$row['celkom_ludi']/$row['odtrenovanych']|number:2}{var $sum['priemer']+=$row['celkom_ludi']}</td>
                                {else}
                                    <td>0</td>
                                {/if}
                                </tr>
                            <tr n:if="!count($trainers)">
                                <td colspan="5"><center>Žiadne záznamy</center></td>
                        </tr>
                        </tbody>
                        <tfoot>
                            <tr class="info">
                                <td>Spolu</td>
                                <td>{$sum['odtrenovanych']}</td>
                                <td>{$sum['zrusenych']}</td>
                                <td>{$sum['celkom_ludi']}</td>
                                <td>{if $sum['odtrenovanych'] > 0}{$sum['priemer']/$sum['odtrenovanych']|number:2}{else}0{/if}</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /tile body -->

            </section>
            <!-- /tile -->
        </div>
    </div>
</div>
<!-- /content container -->

<!-- /page header -->