{block pagescripts}
<script src="{$basePath}/js/vendor/morris/morris.min.js"></script>
<script src="{$basePath}/js/vendor/rickshaw/raphael-min.js"></script>

<script type="text/javascript">
$(document).ready(function() {

      // Morris donut chart
      Morris.Donut({
        element: 'browser-usage',
        data: {json_encode($chart_data)|noescape},
        colors: {json_encode($training_colors)|noescape}
      });

      $('#browser-usage').find("path[stroke='#ffffff']").attr('stroke', 'rgba(0,0,0,0)');

});
</script>
{/block}

{block content}

<!-- content main container -->
<div class="pageheader">
    <h2>{$meno}</h2>
</div>
<div class="main">
<div class="row">
<div class="col-md-4">
{if $data->o_mne != ""}
<section class="tile color transparent-black">
  
  <div class="tile-header about-me">
    <p>{$data->o_mne}</p>
  </div>
</section>
{/if}

<!-- tile -->
<section class="tile color transparent-black">

  <!-- tile body -->
  <div class="tile-body">
    {if count($chart_data)}
    <div id="browser-usage" style="height: 230px;" class="morris-chart"></div>
    <ul class="inline text-center chart-legend">
      <li n:foreach="$training_stats as $training => $stat"><span class="badge badge-outline" style="border-color: {$stat['color']}"></span> {$training} <small>{$stat['share']}%</small>,</li>
    </ul>
    {else}
    <p>Tu sa po <a n:href=":Front:Rozvrh:">absolvovaní prvého tréningu</a> zobrazí tvoja štatistika </p>
    {/if}
  </div>
  <!-- /tile body -->
</section>
<!-- /tile -->

</div>
    <div class="col-md-8">
    <section class="tile color transparent-white">
      <div class="tile-header rounded-top-corners">
        <h2>Profil</h2>
        <a n:href=":User:Profile:edit" title="Upraviť profil" class="btn pull-right btn-black-transparent" type="button"><i class="fa fa-wrench"></i></a>

      </div>

      <!-- tile body -->
      <div class="tile-body">

        <blockquote n:if="!empty($data->citat)">
          <p>{$data->citat}</p>
          {if $data->citat_autor != ''}
          <small>{$data->citat_autor} </small>
          {else}
          <small>Neznámy autor </small>
          {/if}
        </blockquote>


        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-6">
                <table class="table">
                <tr>
                    <th>Meno</th><td>{$data->meno} {$data->priezvisko}</td>
                </tr>
                <tr>
                    <th>Login</th><td>{$data->login}</td>
                </tr>
                <tr>
                    <th>Členom od</th><td>{$data->date_created->format("d.m.Y")}</td>
                </tr>
                </table>
            </div>

            <div class="col-md-6">
                <table class="table">
                <tr>
                    <th>Ulica</th><td>{$data->ulica}</td>
                </tr>
                <tr>
                    <th>Mesto</th><td>{$data->mesto}</td>
                </tr>
                <tr>
                    <th>PSČ</th><td>{$data->psc}</td>
                </tr>
                {*<tr>
                    <th>Variabilný symbol</th><td>{$data->variabilny_symbol}</td>
                </tr>*}
                <tr>
                    <th>Platnosť kreditov</th><td>{ifset $data->platnost_kreditov}{$data->platnost_kreditov->format("d.m.Y")}{/ifset}</td>
                </tr>
                </table>
            </div>
        </div>

      </div>
      <!-- /tile body -->

    </section>

    <div n:if="count($todays_training) || count($next_trainings)" class="col-md-4 col-md-offset-7">
        <section class="tile transparent no-shadow">
          {if count($todays_training)}
          <h1 class="timeline-heading">Dnes trénuješ</h1>

          <ol class="timeline timeline-mini">

            <li n:foreach="$todays_training as $training" class="color transparent-white">
              <div class="pointer slategray">
              </div>
               <div class="el-container">
                <div class="content">
                  <span class="time"><i class="fa fa-clock-o"></i> {$training['termin_od']}</span>
                  <h1>{$training['nazov']}</h1>
                </div>
              </div>
            </li>

          </ol>
          {/if}

          {if count($next_trainings)}
          <h1 class="timeline-heading">Najbližšie tréningy</h1>

          <ol class="timeline timeline-mini">

            <li n:foreach="$next_trainings as $training" class="color transparent-black">
              <div class="pointer slategray">
              </div>
               <div class="el-container">
                <div class="content">
                  <span class="time"><i class="fa fa-clock-o"></i> {$training['termin_od']}</span>
                  <h1>{$training['nazov']}</h1>
                </div>
              </div>
            </li>

          </ol>
          {/if}
        </section>
    </div>
    </div>
</div>
</div>
