{block pagescripts}
<script src="{$basePath}/js/vendor/morris/morris.min.js"></script>
<script src="{$basePath}/js/vendor/rickshaw/raphael-min.js"></script>

<script type="text/javascript">
$(document).ready(function() {

      // Morris donut chart
      Morris.Donut({
        element: 'browser-usage',
        data: {json_encode($chart_data)|noescape},
        colors: {json_encode($training_colors)|noescape}
      });

      $('#browser-usage').find("path[stroke='#ffffff']").attr('stroke', 'rgba(0,0,0,0)');

});
</script>
{/block}

{block content}

<!-- content main container -->
<div class="main">
<div class="row">
<div class="col-md-4">
<section class="tile color transparent-black">
  <!-- tile header -->
  <div class="tile-header">
    <h1>{$meno}</h1>
  </div>
  <!-- /tile header -->
  <!-- tile body -->
  <div class="tile-body padding-top-0">
    <p class="about-me">{$data->o_mne}</p>
  </div>
  <!-- /tile body -->
</section>

<!-- tile -->
<section class="tile color transparent-black">

  <!-- tile body -->
  <div class="tile-body">
    <div id="browser-usage" style="height: 230px;" class="morris-chart"></div>
    <ul class="inline text-center chart-legend">
      <li n:foreach="$training_stats as $training => $stat"><span class="badge badge-outline" style="border-color: {$stat['color']}"></span> {$training} <small>{$stat['share']}%</small>,</li>
    </ul>
  </div>
  <!-- /tile body -->
</section>
<!-- /tile -->

</div>
    <div class="col-md-8">
    <section class="tile color transparent-white">
      <div class="tile-header text-center rounded-top-corners">
        <h1>Úprava profilu</h1>
        <a n:href=":User:Profile:" title="Profil" class="btn pull-right btn-black-transparent" type="button"><i class="fa fa-user"></i></a>

      </div>

      <!-- tile body -->
      <div class="tile-body">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12">
              {control editProfileForm}
            </div>
        </div>

      </div>
      <!-- /tile body -->

    </section>
    <section class="tile color transparent-white">

      <!-- tile body -->
      <div class="tile-body">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12">
              {control changePasswordForm}
            </div>
        </div>
      </div>
      <!-- /tile body -->

    </section>
    </div>
</div>
</div>
