{block content}

<div class="row">
    <div class="profile-nav col-lg-3">
        <div class="panel">
            <div class="user-heading round">
                <a href="#">
                <img src="{$basePath}/images/avatar1.jpg" alt=""> </a>
                <h1>{$meno}</h1>
                <p>{$email}</p>
          </div>

            <ul class="nav nav-pills nav-stacked">
                <li><a n:href="Profile:"> <i class="icon-user"></i> Profil</a></li>
                <li><a n:href="Profile:edit"> <i class="icon-edit"></i> Upraviť profil</a></li>
                <li class="active"><a> <i class="icon-calendar"></i> Nedávna aktivita <span class="label label-danger pull-right r-activity">7</span></a></li>

            </ul>

        </div>
    </div>
    <div class="profile-info col-lg-9">

        <div class="panel">
            <div class="bio-graph-heading">
               "There is no spoon..."<br />Matrix
            </div>
            <div class="panel-body bio-graph-info">
                <h1>Profil</h1>
                <div class="row">
                    <div class="bio-row">
                        <p><span>Meno </span>: Scott</p>
                    </div>
                    <div class="bio-row">
                        <p><span>Priezvisko </span>: Henderson</p>
                    </div>
                    <div class="bio-row">
                        <p><span>Country </span>: India</p>
                    </div>
                    <div class="bio-row">
                        <p><span>Birthday</span>: 13 July 1989</p>
                    </div>
                    <div class="bio-row">
                        <p><span>Occupation </span>: UI Designer</p>
                    </div>
                    <div class="bio-row">
                        <p><span>Email </span>: scott.codesign9@gmail.com</p>
                    </div>
                    <div class="bio-row">
                        <p><span>Mobile </span>: +91 123 456 7890</p>
                    </div>
                    <div class="bio-row">
                        <p><span>Phone </span>: +91 123 456 7890</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
